<div class="tenant-view" *ngIf="(null == user) || IsEditMode">
    <p md-dialog-title>
        {{userDetailTitle}}
        <md-progress-bar
            *ngIf="(userState$ | async)?.loading"
            mode="indeterminate">
        </md-progress-bar>
    </p>

    <md-dialog-content>
        <md-dialog-actions style="display:flex; justify-content: space-between;">
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="closeAction()" *ngIf="(null == user)">CLOSE</button>
            <button md-raised-button color="primary" (click)="SwitchEditMode()" *ngIf="IsEditMode && (null != user)">CANCEL</button>
        </div>
    </md-dialog-actions>
        <form class="dba-form" [formGroup]="userForm">
            <collapsible-control [collapseState]="1">
                <div class="collapsible-control-header">
                    Tenant Information
                </div>
                <div class="collapsible-control-content">
                    <br>
                    <div class="full-width flex-center">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="First name" type="text" formControlName="firstName">
                        </md-input-container>
                        <span class="tiny-filler"></span>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Last Name" type="text" formControlName="lastName">
                        </md-input-container>
                    </div>

                    <div class="full-width flex-center">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Phone" type="text" formControlName="phone">
                        </md-input-container>
                        <span class="tiny-filler"></span>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Email" type="text" formControlName="email" required>
                        </md-input-container>
                    </div>

                    <div class="full-width flex-center">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Apartment /Unit #" type="text" formControlName="unit" required>
                        </md-input-container>
                        
                    </div>


                </div>
            </collapsible-control>
            <br>

            <collapsible-control [collapseState]="1">
                    <div class="collapsible-control-header">
                        Property Associations
                    </div>
                    <div class="collapsible-control-content">
                        <table class="full-width" cellspacing="0" formGroupName="orgs">
                            <thead style="border:none;">
                                <tr>
                                    <td>
                                        <br>
                                        <md-select class="full-width" placeholder="Property" formControlName="id">
                                            <md-option 
                                                *ngFor="let org of orgs; let i = index;" 
                                                [value]="org.id" 
                                                (click)="onOrgChange({id: org.id, index: i})">
                                                {{ org.name }}
                                            </md-option>
                                        </md-select>
                                    </td>
                                </tr>
                            </thead>
                            <tbody formArrayName="buildings">
                                <tr>
                                    <td class="center-align" colspan="3" style="padding:15px 5px 0px 5px;">
                                        <label>
                                            Selected Buildings
                                        </label>
                                    </td>
                                </tr>
                                <tr *ngFor="let building of userFormBuildings.controls; let i = index;" [formGroupName]="i">
                                    <td style="display: flex;">
                                        <md-icon color="warn" class="use-pointer" (click)="removeBuilding({id: building.value.id, index: i})">remove_circle</md-icon>
                                        <md-input-container class="full-width tight">
                                            <input mdInput type="text" disabled value="{{ getBuildingNameFromId(building.value.id) }}">
                                        </md-input-container>
                                        <input hidden formControlName="id">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center-align" colspan="3">
                                        <label>
                                            Unselected Buildings
                                        </label>
                                    </td>
                                </tr>
                                <tr *ngFor="let building of selectedOrgBuildings; let i = index;">
                                    <td>
                                        <md-icon *ngIf="userFormBuildings.controls.length === 0" color="primary" class="use-pointer" (click)="addBuilding({id: building.id, index: i})">add_circle</md-icon>
                                        <md-input-container class="full-width tight">
                                            <input mdInput type="text" disabled value="{{ building.name || building }}">
                                        </md-input-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <br>
                </div>
            </collapsible-control>
        </form>
    </md-dialog-content>

    <md-dialog-actions style="display:flex; justify-content: space-between;">
    <!--     <div>
            <button md-button color="primary" (click)="deactivateAction()" *ngIf="user && user?.isActive && showExtras">DEACTIVATE</button>
            <button md-raised-button color="primary" (click)="activateAction()" *ngIf="user && !user?.isActive && showExtras">ACTIVATE</button>
        </div> -->
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="closeAction()">CLOSE</button>
            <span class="tiny-filler" *ngIf="!user"></span>
            <button md-raised-button color="primary" (click)="saveAction()" *ngIf="!user" [disabled]="userForm.invalid || (userState$ | async)?.loading">SAVE</button>
            <button md-raised-button color="primary" (click)="saveAction()" *ngIf="user" [disabled]="userForm.invalid || (userState$ | async)?.loading">UPDATE</button>
        </div>
        <br>
        <div>
            <button md-button style="background-color: #f53d3d; color: #fff !important;" (click)="deleteAction()" *ngIf="user && showExtras">DELETE</button>
        </div>
    </md-dialog-actions>
</div>
<div class="tenant-view" *ngIf="(null != user) && !IsEditMode">
    <md-dialog-actions style="display:flex; justify-content: space-between;">
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="closeAction()">CLOSE</button>
            <button md-raised-button color="primary" (click)="SwitchEditMode()" *ngIf="!IsEditMode">EDIT</button>
        </div>
    </md-dialog-actions>
    <!-- <collapsible-control [collapseState]="1"> -->
<!--     <div class="mapView">
        <ng2-map
            #map
            id="map"
            class="mapView"
            zoom="13" 
            (mapReady$)="onMapReady($event)"
            (mapClick)="onMapClick($event)"
            (idle)="onIdle($event)"
            center="coreLocation.position" 
            mapTypeId="satellite">
                <marker 
                *ngIf="(null != coreLocation)"
                [position]="coreLocation.position"
                [title]="coreLocation.title"
                (initialized$)="onMarkerInit($event)"
                >
                </marker>
        </ng2-map>
    </div> -->
    <div class="row" *ngIf="null != user">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ user.firstName }} {{ user.lastName }} </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="block">
                        <div class="block_content">
                            <div class="title">
                                <span>{{ user.phone }} </span> 
                            </div>
                            <p class="byline">
                                 {{ user.email }} 
                            </p>
                            <p class="byline">
                                 Property Code: {{ user.propertCodes }} 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="null != user">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Address</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="block">
                        <div class="block_content">
                            <div class="title">
                                <span>{{ user.address.line1 }}</span> 
                            </div>
                            <p class="byline">
                                {{ user.address.city }}, {{ user.address.state }} {{ user.address.zip }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-dialog-actions style="display:flex; justify-content: space-between;">
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="closeAction()">CLOSE</button>
        </div>
    </md-dialog-actions>
</div>


