/* Avoid unexpected behavior of Materialize `.modal` class */
.nsm-content {
    margin: 0px !important;
    padding: 0px !important;
    height: 100%;
}
.nsm-dialog {
    margin: 10% auto !important;
    max-width: 700px !important;
    width: 700px !important;
}
.modals {
    display: block;
    max-height: none;

    .modals-content {
        padding: 0;

        .card {
            margin: 0;
        }
    }

    .modals-footer {
        width: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.checkbox {
    height: auto !important;
}
.checkbox i {
    color: #1DC7EA !important;
}

.no-padding {
    padding: 0 !important;
}

.go-back {
    margin-top: 10px;

    a {
        color: white;
    }
}
.checkbox input[type="checkbox"]:disabled + label,
.radio input[type="radio"]:disabled + label,
.checkbox input[type="checkbox"]:disabled:checked + label::after {
    color: #1dc7ea;
}

