<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <main-calendar></main-calendar>
        </div>
    </div>
    <div *ngIf="(loading$ | async)" class="spinner"></div>
</div>