.top-table-buttons {
    display: flex;
    justify-content: space-between;
}

.layout-padding {
    display: flex;
}

.x_title {
    border: none !important;
    font-family: "Mukta-Bold", sans-serif !important;
}

.collapsible-control-header {
    font-family: "Mukta-Bold", sans-serif !important;
    font-size: 14px;

}

.items {
    padding: 3%;
    margin: 15px 0;
    background-color: #eaeaea;
}

.items-non {
    padding: 3%;
    margin: 15px 0;
    background-color: #eedfc1;
}