<div class="right_col" role="main">
    <div>
        <h2 class="thin">Assign Tasks</h2>

        <div class="top-table-buttons">
            <div style="width: 50%"></div>
            <!-- <button md-raised-button (click)="expandTask()" [disabled]="loading$ | async" style="float: right;"><md-icon>add</md-icon>Add Task</button> -->
        </div>
        <br />
        <!--  <div class="top-table-buttons">
            <button md-raised-button (click)="exportButtonHandler()" [disabled]="loading$ | async" style="float: right;"><md-icon>share</md-icon>Export List</button>
        </div>
        <br> -->
        <div *ngIf="loading$ | async">
            <md-spinner class="center-spinner medium-spinner"></md-spinner>
        </div>
        <div *ngIf="!((error$ | async) === null)  && !(loading$ | async)" class="error-text">{{(error$ | async)?.Message}}</div>
        <div class="white" *ngIf="((error$ | async) === null)  &&  !(loading$ | async)">
            <div class="x_content">
                <div class="row">
                    <div class="layout-padding">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Unassigned</h2>
                                </div>
                                <div class="x_content">
                                    <div
                                    dndDropzone
                                    [dndHorizontal]="layout.dndHorizontal"
                                    dndEffectAllowed="copyMove"
                                    (dndDrop)="onDrop($event, draggableListLeft)"
                                    class="dndList">
                                        <div dndPlaceholderRef class="dndPlaceholder"></div>

                                        <div
                                        *ngFor="let item of draggableListLeft"
                                        [dndDraggable]="item"
                                        [dndEffectAllowed]="item.effectAllowed"
                                        [dndDisableIf]="item.disable"
                                        (dndStart)="onDragStart($event)"
                                        (dndCopied)="onDragged(item, draggableListLeft, 'copy')"
                                        (dndLinked)="onDragged(item, draggableListLeft, 'link')"
                                        (dndMoved)="onDragged(item, draggableListLeft, 'move')"
                                        (dndCanceled)="onDragged(item, draggableListLeft, 'none')"
                                        (dndEnd)="onDragEnd($event)" class="items-non">
                                            <mat-icon *ngIf="item.handle" div-icon dndHandle>drag_handle </mat-icon>
                                            <div class="collapsible-control-header">{{item.subCategory}}</div>
                                            <p>Client: {{item.clientName}}</p>
                                            <p>Building: {{item.buildingName}} | {{item.clientUnit}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Leo Amer</h2>
                                </div>
                                <div class="x_content">
                                    <div
                                    dndDropzone
                                    [dndHorizontal]="layout.dndHorizontal"
                                    dndEffectAllowed="copyMove"
                                    (dndDrop)="onDrop($event, draggableListRight)"
                                    class="dndList">
                                        <div dndPlaceholderRef class="dndPlaceholder"></div>

                                        <div
                                        *ngFor="let item of draggableListRight"
                                        [dndDraggable]="item"
                                        [dndEffectAllowed]="item.effectAllowed"
                                        [dndDisableIf]="item.disable"
                                        (dndStart)="onDragStart($event)"
                                        (dndCopied)="onDragged(item, draggableListRight, 'copy')"
                                        (dndLinked)="onDragged(item, draggableListRight, 'link')"
                                        (dndMoved)="onDragged(item, draggableListRight, 'move')"
                                        (dndCanceled)="onDragged(item, draggableListRight, 'none')"
                                        (dndEnd)="onDragEnd($event)" class="items">
                                            <mat-icon *ngIf="item.handle" div-icon dndHandle>drag_handle </mat-icon>
                                            <div class="collapsible-control-header">{{item.subCategory}}</div>
                                            <p>Client: {{item.clientName}}</p>
                                            <p>Building: {{item.buildingName}} | {{item.clientUnit}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="x_panel" style="min-height: 200px;">
                                <div class="x_title">
                                    <h2>Adam Wolfson</h2>
                                </div>
                                <div class="x_content" style="min-height: 200px;">
                                    <div
                                    dndDropzone
                                    [dndHorizontal]="layout.dndHorizontal"
                                    dndEffectAllowed="copyMove"
                                    (dndDrop)="onDrop($event, draggableListAdam)"
                                    class="dndList">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layout-padding"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="bottom-table-buttons">
            <div style="width: 50%"></div>
            <!-- <button md-raised-button (click)="expandTask()" [disabled]="loading$ | async" style="float: right;"><md-icon>add</md-icon>Add Task</button> -->
        </div>
    </div>
</div>

