.dashboard-container {
	align-content: center;
	justify-items: center;
}

.tracks {
	margin-left: 2%;
	border: none;
}

.track-holder {
	width: 90%;
	display: flex;
	padding: 1%;
	border-bottom: 1px solid #a0a0a0;
}

.title {
	color: #a0a0a0;
	display: inline;
	margin-left: 20px;
	font-size: 1.3rem;
	font-weight: 450;
	width: 70%;
}

.mat-datepicker-toggle {
    border: 0px;
    font-size: 29px !important;
    vertical-align: top;
    position: relative;
    top: -8px;
    color: #000;
}

.profile-photo {
	border-radius: 50%;
	width: 60px;
}

.tenant-update {
	background-color: #e86d6d !important;
	font-weight: bold !important;
    color: #fff !important;
}

input {
	margin-left: 0px;
	border: 1px solid #a0a0a0;
	border-radius: 30px;
	background: #fff;
	font-size: 20px;
	padding: 10px 16px;
	color: #a0a0a0;
	font-weight: bold;
}

.mat-input-underline {
	display: none !important;
}

button {
	margin: 0 auto;
	border: 1px solid #a0a0a0;
	border-radius: 30px;
	font-size: 20px;
	padding: 0 16px;
	color: #a0a0a0;
	font-weight: bold;
}

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.another-file-over-class {
    border: dashed 3px green;
}

@media (max-width: 991px){
	.center-spinner {
		margin-top: 25%;
	}
	input {
		margin-left: -35%;
		border: 1px solid #a0a0a0;
		background: #fff;
		font-size: 12px;
		padding: 5px 16px;
		color: #a0a0a0;
		font-weight: bold;
	}
	.dashboard-container {
		margin-top: 25%;
	}

}