<div class="right_col" role="main">
    <h2 class="thin" *ngIf="IsNotTenant && (!(IsFirstTime$ | async)?.isFirstTime) && IsAdmin">Tasks & Time Cards</h2>
    <h2 class="thin" *ngIf="IsNotTenant && (!(IsFirstTime$ | async)?.isFirstTime) && IsStaff">Tasks</h2>
    <div *ngIf="(!(IsFirstTime$ | async)?.isFirstTime) && !IsStaff" class="top-table-buttons">
        <button *ngIf="IsAdmin && activeTabIndex === 1" md-raised-button (click)="expandTask()" [disabled]="loading$ | async" style="float: right; color: #666 !important; margin-bottom: 10px"><md-icon>add</md-icon>New One-Time Request</button>

        <button *ngIf="IsAdmin && activeTabIndex === 0" md-raised-button (click)="RecurringTask()" [disabled]="loading$ | async" style="float: right; color: #666 !important; margin-bottom: 10px"><md-icon>add</md-icon>New Recurring Task</button>
        <button *ngIf="!IsAdmin" md-raised-button (click)="expandTask()" [disabled]="loading$ | async" style="float: right; color: #666 !important; margin-bottom: 10px"><md-icon>add</md-icon>New Request</button>
    </div>
    <div class="clearfix"></div>
    <div class="row" *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && (IsFirstTime$ | async)?.isFirstTime)">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title" style="border-bottom: 0" align="center" style="text-align: center; width: 100%">
                    <h2 style="width: 100%; border-bottom: 0 !important">Set Password</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" align="center">
                    <p style="padding-left: 2%">Please set a password before continuing!</p>
                    <form ngNativeValidate #passwordForm="ngForm" (ngSubmit)="SetPassword(passwordForm)" style="display: inline-grid">
                        <md-input-container class="full-width">
                            <input mdInput id="inputPassword" #inputPassword="ngModel" placeholder="Password" type="password" name="inputPassword" style="height: 40px; margin-left: 0 !important" ngModel required />
                        </md-input-container>
                        <md-input-container class="full-width">
                            <input mdInput id="inputConfirmPassword" #inputConfirmPassword="ngModel" placeholder="Confirm Password" type="password" style="height: 40px; margin-left: 0 !important" name="confirmPassword" ngModel required />
                        </md-input-container>
                        <div class="error-message ms-font-m">{{ (authError$ | async)?.Message }}</div>
                        <button md-raised-button class="btn btn-fw" type="submit">Set Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ******************************************************************************************

        TENANT VIEW

    ****************************************************************************************** -->
    <div class="row" *ngIf="(!(IsFirstTime$ | async)?.isFirstTime) && (IsTenant)">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <h4 class="title" *ngIf="IsLandlord">Requests</h4>
        </div>
        <div class="col-md-12 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a class="close-link" (click)="RefreshTasks()" style="font-size: 20px; float: right" *ngIf="!(IsFirstTime$ | async)?.isFirstTime">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div *ngIf="loading$ | async">
                        <md-spinner class="center-spinner medium-spinner"></md-spinner>
                    </div>
                    <table *ngIf="!(loading$ | async)" class="highlight table-full-width table-responsive" id="users-table">
                        <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length === 0)) || (null == (tasks$ | async))">
                            <tr>
                                <td style="text-align: center; font-size: 28px">No Tasks!</td>
                            </tr>
                        </thead>
                        <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                            <tr>
                                <td (click)="sortTable()" style="cursor: pointer">Subject</td>
                                <td>Building</td>
                                <td>Status</td>
                                <td>Last Updated</td>
                                <td>Created</td>
                            </tr>
                        </thead>
                        <tbody *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                            <tr style="cursor: pointer; background-color: #f0f0f0" *ngFor="let task of tasks$ | async" [ngClass]="(((null != task.updatedRole) && (task.updatedRole === 'Tenant')) && IsNotTenant && IsNotLandlord) ? 'tenant-update' : ''">
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">
                                    {{ task.subject }}
                                    <md-icon style="font-size: 10px; height: 10px; width: 10px" *ngIf="!(task.active)">visibility_off</md-icon>
                                </td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ task.buildingName }}</td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ task.status }}</td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">At {{ (task.lastUpdated | date:'short') || "Time Error" }} By: {{ task.updateAuthor }} <span style="font-size: 80%">({{ task.updatedRole }})</span><br /></td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ (task.date | date:'short') || "Time Error" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ******************************************************************************************

        LANDLORD VIEW

    ****************************************************************************************** -->
    <div class="row" *ngIf="(!(IsFirstTime$ | async)?.isFirstTime) && (IsLandlord)">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <h4 class="title" *ngIf="IsLandlord">Requests</h4>
        </div>
        <div class="col-md-12 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a class="close-link" (click)="RefreshTasks()" style="font-size: 20px; float: right" *ngIf="!(IsFirstTime$ | async)?.isFirstTime">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div *ngIf="loading$ | async">
                        <md-spinner class="center-spinner medium-spinner"></md-spinner>
                    </div>
                    <table *ngIf="!(loading$ | async)" class="highlight table-full-width table-responsive" id="users-table">
                        <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length === 0)) || (null == (tasks$ | async))">
                            <tr>
                                <td style="text-align: center; font-size: 28px">No Tasks!</td>
                            </tr>
                        </thead>
                        <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                            <tr>
                                <td (click)="sortTable()" style="cursor: pointer">Subject</td>
                                <td>Building</td>
                                <td>Status</td>
                                <td>Last Updated</td>
                                <td>Created</td>
                            </tr>
                        </thead>
                        <tbody *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                            <tr style="cursor: pointer; background-color: #f0f0f0" *ngFor="let task of tasks$ | async" [ngClass]="(((null != task.updatedRole) && (task.updatedRole === 'Tenant')) && IsNotTenant && IsNotLandlord) ? 'tenant-update' : ''">
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">
                                    {{ task.subject }}<br />
                                    <span style="font-size: 90%">By {{ task.authorName }}</span>
                                    <md-icon style="font-size: 10px; height: 10px; width: 10px" *ngIf="!(task.active)">visibility_off</md-icon>
                                </td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ task.buildingName }}</td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ task.status }}</td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">
                                    On {{ (task.lastUpdated | date:'fullDate') || "Time Error" }}<br />
                                    By: {{ task.updateAuthor }} <span style="font-size: 80%">({{ task.updatedRole }})</span><br />
                                </td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ (task.date | date:'short') || "Time Error" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ******************************************************************************************

        STAFF VIEW

    ****************************************************************************************** -->
    <div class="row" *ngIf="(!(IsFirstTime$ | async)?.isFirstTime) && IsStaff">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <h4 class="title" *ngIf="IsLandlord">Requests</h4>
        </div>
        <div class="col-md-12 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <a class="close-link" (click)="RefreshTasks()" style="font-size: 20px; float: right" *ngIf="!(IsFirstTime$ | async)?.isFirstTime">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div *ngIf="loading$ | async">
                        <md-spinner class="center-spinner medium-spinner"></md-spinner>
                    </div>
                    <table *ngIf="!(loading$ | async)" class="highlight table-full-width table-responsive" id="users-table">
                        <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length === 0)) || (null == (tasks$ | async))">
                            <tr>
                                <td style="text-align: center; font-size: 28px">No Tasks!</td>
                            </tr>
                        </thead>
                        <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                            <tr>
                                <td (click)="sortTable()" style="cursor: pointer">Subject</td>
                                <td>Building</td>
                                <td>Status</td>
                                <td>Last Updated</td>
                                <td>Created</td>
                            </tr>
                        </thead>
                        <tbody *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                            <tr style="cursor: pointer; background-color: #f0f0f0" *ngFor="let task of tasks$ | async" [ngClass]="(((null != task.updatedRole) && (task.updatedRole === 'Tenant')) && IsNotTenant && IsNotLandlord) ? 'tenant-update' : ''">
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">
                                    {{ task.subject }}<br />
                                    <span style="font-size: 90%">By {{ task.authorName }}</span>
                                    <md-icon style="font-size: 10px; height: 10px; width: 10px" *ngIf="!(task.active)">visibility_off</md-icon>
                                </td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ task.buildingName }}</td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ task.status }}</td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">
                                    On {{ (task.lastUpdated | date:'fullDate') || "Time Error" }}<br />
                                    By: {{ task.updateAuthor }} <span style="font-size: 80%">({{ task.updatedRole }})</span><br />
                                </td>
                                <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ (task.date | date:'short') || "Time Error" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- ******************************************************************************************

        ADMIN VIEW

    ****************************************************************************************** -->
    <md-tab-group *ngIf="(!(IsFirstTime$ | async)?.isFirstTime) && IsAdmin" md-stretch-tabs class="demo-tab-group" dynamicHeight [(selectedIndex)]="activeTabIndex" style="margin-top: 2% !important">

        <md-tab>
            <ng-template id="pastVists" md-tab-label><div style="font-size: 22px">Recurring</div></ng-template>
            <div class="row" *ngIf="(IsNotTenant && IsNotLandlord) && (!(IsFirstTime$ | async)?.isFirstTime)">
                <div class="col-md-12 col-sm-4 col-xs-12">
                    <main-calendar (notifyParent)="StopLoading($event)"></main-calendar>
                </div>
                <div *ngIf="isLoading" class="spinner"></div>
            </div>
        </md-tab>
        <md-tab>
            <ng-template id="pastVists" md-tab-label><div style="font-size: 22px">One-Off</div></ng-template>
            <div class="row" *ngIf="(!(IsFirstTime$ | async)?.isFirstTime) && (IsAdmin)">
                <!--   <div class="col-md-12 col-sm-4 col-xs-12">
                    <h4 class="title" *ngIf="IsAdmin && !IsStaff">Unscheduled </h4>
                </div> -->
                <div class="col-md-12 col-sm-4 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <md-select placeholder="Filter by building" class="select2-container--default" style="min-width: 150px" *ngIf="(IsNotTenant && IsNotLandlord)">
                                <md-option style="color: #000 !important" *ngFor="let building of (AllBuildings$ | async)" [value]="building.id" (click)="ScopeTasks(building)"> {{ building.name }} </md-option>
                            </md-select>
                            <a class="close-link" (click)="RefreshTasks()" style="font-size: 20px; float: right" *ngIf="(((null != sessionData.user) && (sessionData.user.role !== 'Tenant'))) && (!(IsFirstTime$ | async)?.isFirstTime)">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="max-height: 600px; overflow-y: scroll !important">
                            <div *ngIf="(loading$ | async)">
                                <md-spinner class="center-spinner medium-spinner"></md-spinner>
                            </div>
                            <table *ngIf="!(loading$ | async)" class="highlight table-full-width table-responsive" id="users-table" style="margin-left: 0px !important; margin-right: 0px !important">
                                <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length === 0)) || (null == (tasks$ | async))">
                                    <tr>
                                        <td style="text-align: center; font-size: 28px">No Tasks!</td>
                                    </tr>
                                </thead>
                                <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                                    <tr>
                                        <td (click)="sortTable()" style="cursor: pointer">Subject</td>
                                        <td>Building</td>
                                        <td>Status</td>
                                        <td>Type</td>
                                        <td (click)="SortUpdated()">Last Updated</td>
                                        <td>Assigned To:</td>
                                        <td>Days Since</td>
                                    </tr>
                                </thead>
                                <tbody *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                                    <tr style="cursor: pointer; background-color: #f0f0f0" *ngFor="let task of tasks$ | async" [ngClass]="(((null != task.updatedRole) && (task.updatedRole === 'Tenant')) && IsNotTenant && IsNotLandlord) ? 'tenant-update' : ''">
                                        <td *ngIf="!task.scheduling" (click)="expandTask(task)">
                                            {{ task.subject }}<br />
                                            <span style="font-size: 90%">By {{ task.authorName }}</span>
                                            <md-icon style="font-size: 10px; height: 10px; width: 10px" *ngIf="!(task.active)">visibility_off</md-icon>
                                        </td>
                                        <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ task.buildingName }}</td>
                                        <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ task.status }}</td>
                                        <td *ngIf="!task.scheduling" (click)="expandTask(task)">{{ task.category }}</td>
                                        <td *ngIf="!task.scheduling" (click)="expandTask(task)">
                                            On {{ (task.lastUpdated | date:'short') || "Time Error" }}<br />
                                            By: {{ task.updateAuthor }} <span style="font-size: 80%">({{ task.updatedRole }})</span><br />
                                        </td>
                                        <td *ngIf="((!task.scheduling) && (task.scheduled) && IsAdmin) || !IsAdmin">
                                            <span *ngIf="(null != task.assignees)">
                                                <p *ngFor="let assignee of task.assignees">{{ assignee.name }}<br /></p>
                                            </span>
                                        </td>
                                        <td *ngIf="(!task.scheduling) && (!task.scheduled) && IsAdmin">
                                            <button md-raised-button (click)="switchScheduling(task)" [disabled]="(loading$ | async) || IsScheduling" style="float: right; color: #666 !important; margin-bottom: 10px"><md-icon>add</md-icon>Schedule & Assign</button>
                                        </td>
                                        <td *ngIf="!task.scheduling">{{ TimeSince(task.date) }}</td>
                                        <td colspan="2" *ngIf="task.scheduling" style="background-color: #f0f0f0; color: #666; text-align: center">
                                            Assign Staff:<br /><br />
                                            <button md-button style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="AddStaffMember()">
                                                Add Staff Member
                                                <md-icon name="add"></md-icon>
                                            </button>
                                            <div *ngIf="(null != selectedStaff)" class="full-width">
                                                <button (click)="RemoveStaff(staff)" md-button *ngFor="let staff of selectedStaff" class="full-width flex-center" style="border: 1px solid #666; padding: 10px; background: transparent" id="selectTenant">{{ staff.name }}<span style="margin-left: 20px; color: red; font-weight: bold">X</span></button>
                                            </div>
                                        </td>

                                        <td colspan="2" *ngIf="task.scheduling" style="background-color: #f0f0f0; color: #666; text-align: center; display: grid; padding: 18px; border-left: 1px solid #666; border-right: 1px solid #666">
                                            Schedule Date/Time <br />
                                            <span *ngIf="(null != task.availability)" style="color: red; font-weight: bold"> {{ task.availability }} </span>
                                            <md-input-container>
                                                <input [min]="minDate" (change)="onDateSelect($event.target.value)" mdInput [mdDatepicker]="picker" [(ngModel)]="SelectedDate" style="font-size: 11px" />
                                                <button mdSuffix [mdDatepickerToggle]="picker"></button>
                                            </md-input-container>
                                            <md-datepicker style="color: #000; font-size: 26px" #picker></md-datepicker>
                                        </td>

                                        <td colspan="2" *ngIf="task.scheduling" style="background-color: #f0f0f0; color: #666; text-align: center; border-right: 1px solid #666">
                                            Start Time <br />
                                            <md-input-container class="half-width">
                                                <input style="font-size: 11px" name="endTime" mdInput step="0, 15, 30" type="time" [(ngModel)]="task.startTime" />
                                            </md-input-container>
                                        </td>

                                        <td colspan="2" *ngIf="task.scheduling" style="background-color: #f0f0f0; color: #666; text-align: center">
                                            <button md-raised-button (click)="switchScheduling(task)" [disabled]="loading$ | async" style="background: red; color: #fff !important; margin-bottom: 10px; width: 95%; font-size: 14px"><md-icon>close</md-icon>Cancel</button><br />
                                            <button md-raised-button (click)="ScheduleTask(task)" [disabled]="loading$ | async" style="background: #fff; color: #666 !important; margin-bottom: 10px; width: 95%; font-size: 14px"><md-icon>check</md-icon>Confirm</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab>
            <ng-template id="pastVists" md-tab-label><div style="font-size: 22px">Time Cards</div></ng-template>
            <div class="row" *ngIf="(IsNotTenant && !IsStaff && IsNotLandlord) && (!(IsFirstTime$ | async)?.isFirstTime) && !(loading$ | async) && !(usersLoading$ | async) && (null != (timeCards$ | async)) && ((timeCards$ | async).length > 0)">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Time Cards</h2>
                            <a class="close-link" (click)="RefreshTimeCards()" style="font-size: 20px; float: right">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="dashboard-widget-content">
                                <div *ngIf="usersLoading$ | async">
                                    <div class="spinner"></div>
                                </div>
                                <ul *ngIf="!(usersLoading$ | async) && (null != (timeCards$ | async))" class="list-unstyled timeline widget">
                                    <li *ngFor="let card of (timeCards$ | async)">
                                        <div class="block">
                                            <div class="block_content">
                                                <h2 class="title" style="padding-bottom: 0px !important">{{ card.name }}</h2>
                                                <!--    <div class="byline">
                                                     
                                                        </div> -->
                                                <ul style="display: flex; overflow-x: scroll !important" class="list-unstyled timeline widget">
                                                    <li *ngFor="let time of card.cards" class="x_content" style="min-width: 400px">
                                                        <div class="block">
                                                            <div class="block_content">
                                                                <b>Clocked In</b>: {{ (time.startTime | date:'short') || "Time Error" }}<br />
                                                                <span *ngIf="null != time.endTime"><b>Clocked Out</b>: {{ (time.endTime | date:'short') || "Time Error" }}<br /></span>
                                                                <ng2-map zoom="16" center="{{ time.location.lat }}, {{ time.location.lng }}" disableDoubleClickZoom="true" mapTypeControl="false" zoomControl="false" panControl="false" scaleControl="false" gestureHandling="none" streetViewControl="false" rotateControl="false" scrollwheel="false" keyboardShortcuts="false" fullscreenControl="false">
                                                                    <marker [position]="time.location" [title]="card.name"> </marker>
                                                                </ng2-map>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tab-group>
    
</div>
