<div class="tenant-view" *ngIf="(null == task) || IsEditMode">
    <p md-dialog-title>
        {{ taskDetailTitle }}
        <md-progress-bar *ngIf="(userLoading$ | async)?.loading" mode="indeterminate"> </md-progress-bar>
    </p>
    <div class="upload-bar" *ngIf="IsUploading">
        <img src="{{ UploadPreview }}" />
        <div class="upload-container">
            <p *ngIf="!IsUploadDone">Uploading your file... ({{ ProgressPercent }}%)</p>
            <p *ngIf="IsUploadDone" class="upload-done lightgrey">{{ UploadStatus }}</p>
            <div class="progress-bar">
                <div class="progress-loader" [style.width.%]="ProgressPercent"></div>
            </div>
        </div>
        <button class="cancel-upload" (click)="CancelImageUpload()">
            <md-icon name="cancel"></md-icon>
        </button>
    </div>
    <md-dialog-actions style="display: flex; justify-content: space-between">
        <div style="display: flex; justify-content: flex-end">
            <button md-button (click)="closeAction()" *ngIf="isNewTask">CLOSE</button>
            <button md-raised-button color="primary" (click)="SwitchEditMode()" *ngIf="IsEditMode && !isNewTask">CANCEL</button>
        </div>
    </md-dialog-actions>
    <md-dialog-content>
        <div class="collapsible-control-header" *ngIf="IsEditMode && (IsAdmin || IsLandlord)">Building/Tenant Information</div>
        <div class="collapsible-control-content x_content">
            <div class="full-width flex-center" *ngIf="IsEditMode && (IsAdmin || IsLandlord) && (((null != (tenants$ | async)) && ((tenants$ | async).length === 0)) || (null == (tenants$ | async))) && !(userLoading$ | async)">
                <div class="full-width" *ngIf="(null != building)">
                    <button md-button class="full-width flex-center" style="border: 1px solid #fff; padding: 10px; background: transparent" id="selectTenant">{{ building.name }}</button>
                </div>
                <button *ngIf="!IsAddingUnit" md-button style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="AddUnit()">
                    Add Unit
                    <md-icon name="add"></md-icon>
                </button>
                <button *ngIf="IsAddingUnit" md-button style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="AddUnit()">
                    Done
                    <md-icon name="add"></md-icon>
                </button>
                <div class="full-width" *ngIf="(IsAdmin || IsLandlord) && !IsAddingUnit && isNewTask">
                    <label>Unit # </label><br />
                    {{ UnitNumber }}
                </div>
                <div class="full-width" *ngIf="(IsAdmin || IsLandlord) && IsAddingUnit && isNewTask">
                    <md-input-container class="full-width">
                        <input (input)="SearchUsers($event.target.value)" mdInput placeholder="Unit #" style="padding: 20px 0" type="text" [(ngModel)]="UnitNumber" />
                    </md-input-container>
                </div>
            </div>
            <div class="full-width flex-center" *ngIf="IsEditMode && (IsAdmin || IsLandlord) && ((null != (tenants$ | async)) && ((tenants$ | async).length > 0)) && !(userLoading$ | async)">
                <button md-button style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="AddTenant()">
                    Select Tenant
                    <md-icon name="add"></md-icon>
                </button>
                <div class="full-width" *ngIf="(null != selectedTenant) && isNewTask">
                    <button md-button class="full-width flex-center" style="border: 1px solid #666; padding: 10px; background: transparent" id="selectTenant">
                        {{ selectedTenant.firstName }} {{ selectedTenant.lastName }}<br />
                        {{ GetBuilding(selectedTenant.orgs) }}
                    </button>
                </div>
            </div>
            <div class="full-width flex-center" *ngIf="IsEditMode && IsLandlord && isNewTask && ((null != sessionData.user.orgs) && (null != sessionData.user.orgs.buildings) && (sessionData.user.orgs.buildings.length > 1)) && (((null != (tenants$ | async)) && ((tenants$ | async).length === 0)) || (null == (tenants$ | async)))">
                <button md-button style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="AddBuilding()">
                    Select Building
                    <md-icon name="add"></md-icon>
                </button>
                <div class="full-width" *ngIf="(null != building)">
                    <button md-button class="full-width flex-center" style="border: 1px solid #fff; padding: 10px; background: transparent" id="selectTenant">{{ building.name }}</button>
                </div>
            </div>
        </div>

        <form class="dba-form" [formGroup]="taskForm">
            <!-- <collapsible-control [collapseState]="1"> -->
            <div class="collapsible-control-header">Request Information</div>
            <div class="collapsible-control-content">
                <div style="margin-top: 1%" class="full-width flex-center">
                    <label> Subject </label>
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Subject" type="text" formControlName="subject" />
                    </md-input-container>
                </div>
                <div class="full-width flex-center">
                    <label> Description </label>
                    <div class="full-width">
                        <textarea placeholder="Description" type="text" formControlName="description" required="true"></textarea>
                    </div>
                </div>
                <div class="full-width flex-center">
                    <label for="cover-art" class="browse-button">Add Photos<i class="fa fa-camera"></i></label>
                    <input style="display: none" accept=".png, .jpeg, .jpg" class="box__file" type="file" name="files[]" id="cover-art" data-multiple-caption="{ count } files selected" (change)="handleFileInput($event.target.files); readURL($event); $event.stopPropagation();" multiple />
                    <div class="middle-col" style="width: 100%">
                        <img src="{{ UploadPreview }}" *ngIf="null != UploadPreview" style="width: 140px; height: auto; margin-right: 3%" />
                    </div>
                </div>
                <div class="flex-center">
                    <label style="margin-right: 15px"> Category </label>
                    <md-select style="min-width: 150px" formControlName="category">
                        <md-option *ngFor="let main of maintenanceReqs" [value]="main" (click)="onSubCategoryChange(main)"> {{ main }} </md-option>
                    </md-select>
                </div>
                <div style="margin-top: 1%" class="full-width flex-center">
                    <label> Availability </label>
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Date/Times Available" type="text" formControlName="availability" />
                    </md-input-container>
                </div>
            </div>
        </form>
        <div class="full-width flex-center" *ngIf="IsEditMode && IsAdmin">
            <button md-button style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="AddStaffMember()">
                Add Staff Member
                <md-icon name="add"></md-icon>
            </button>
            <div *ngIf="IsAdmin && (null != selectedStaff) && isNewTask" class="full-width">
                <button (click)="RemoveStaff(staff)" md-button *ngFor="let staff of selectedStaff" class="full-width flex-center" style="border: 1px solid #666; padding: 10px; background: transparent" id="selectTenant">{{ staff.name }}<span style="margin-left: 20px; color: red; font-weight: bold">X</span></button>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions style="display: flex; justify-content: space-between">
        <div style="display: flex; justify-content: flex-end">
            <button md-button (click)="closeAction()">CLOSE</button>
            <button md-raised-button color="primary" (click)="saveAction()" [disabled]="taskForm.invalid || (SessionState$ | async)?.loading">SAVE</button>
        </div>
    </md-dialog-actions>
</div>

<!-- ****************************************************************
                         VIEW MODE
**************************************************************** -->

<div class="tenant-view" *ngIf="(null != task) && !IsEditMode">
    <p md-dialog-title>
        <button md-button (click)="closeAction()">CLOSE</button>
        {{ task.subject }}
        <md-progress-bar *ngIf="(SessionState$ | async)?.loading" mode="indeterminate"> </md-progress-bar>
    </p>
    <div id="headerImage" class="img-header" *ngIf="((null != task.photoURL) && (task.photoURL !== ''))" [ngStyle]="{'background-image': 'url(' + task.photoURL + ')','background-size': 'cover'}"></div>
    <!--   <div id="headerImage" class="img-header" *ngIf="((null != task.photoGallery) && (task.photoGallery.length > 0))" [ngStyle]="{'background-image': 'url(' + task.photoGallery[0] + ')','background-size': 'cover'}">
        
    </div>
    <div class="full-width flex-center" *ngIf="(null != task.photoGallery) && (task.photoGallery.length > 1)">
        <div *ngIf="(null != task.photoGallery) && (task.photoGallery.length > 1)" class="middle-col" style="width: 100%">
            <img (click)="OpenImage($event.target)" *ngFor="let photo of task.photoGallery.slice(1); let i = index;" src="{{ photo }}" style="width: 140px; height: auto; margin-right: 3%;" />
        </div>
    </div> -->

    <md-tab-group md-stretch-tabs *ngIf="!(loading$ | async)" class="demo-tab-group" dynamicHeight [(selectedIndex)]="activeTabIndex" style="margin-top: 2% !important">
        <md-tab>
            <ng-template md-tab-label>Summary</ng-template>
            <div class="collapsible-control-content">
                <div style="margin-top: 1%" class="full-width row">
                    <div class="col-md-8">
                        <label> Property </label>
                        <p>{{ task.buildingName }}<br />Unit# {{ task.clientUnit }}</p>
                    </div>
                    <div class="col-md-4">
                        <label> Created </label>
                        <p>
                            {{ (task.date | date:'short') || "Time Error" }}<br />
                            Last Updated by {{ task.updateAuthor }} at {{ (task.lastUpdated | date:'short') || "Time Error" }}
                        </p>
                    </div>
                </div>
                <div style="margin-top: 1%" class="full-width row">
                    <div class="col-md-8">
                        <label> Description </label>
                        <p>{{ task.description }}</p>
                    </div>
                    <div class="col-md-4">
                        <label> Category </label>
                        <p>{{ task.category }}</p>
                        <label *ngIf="!IsReAssigning && IsAdmin"> Assigned To:</label>
                        <span *ngIf="(null != task.assignees) && IsAdmin"
                            ><p *ngFor="let assignee of task.assignees">{{ assignee.name }}<br /></p
                        ></span>
                        <p style="font-weight: bold; text-decoration: underline" *ngIf="IsNotTenant && !IsStaff && IsNotLandlord">Re-Assign Task?</p>
                        <div *ngIf="!IsReAssigning && IsAdmin" style="font-size: 16px" class="col-md-12">
                            <button style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="ReAssignStaff()" md-button>Re-assign Task</button>
                        </div>

                        <div style="font-size: 16px" *ngIf="IsReAssigning" class="col-md-6">
                            <button style="border: 1px solid #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="ReAssignStaff()" md-button>Cancel</button>
                        </div>
                        <div style="font-size: 16px" *ngIf="IsReAssigning" class="col-md-6">
                            <button style="border: 1px solid #666; padding: 10px; margin-bottom: 10px; width: 100%" *ngIf="!task.recurring" (click)="AssignTask()" md-button>Save Assignees</button>
                            <button style="border: 1px solid #666; padding: 10px; margin-bottom: 10px; width: 100%" *ngIf="task.recurring" (click)="AssignRecurringTask()" md-button>Save Assignees</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="IsReAssigning" class="full-width flex-center">
                    <button md-button style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="AddStaffMember()">
                        Add Staff Member
                        <md-icon name="add"></md-icon>
                    </button>
                    <div *ngIf="IsAdmin && (null != selectedStaff)" class="full-width">
                        <button (click)="RemoveStaff(staff)" md-button *ngFor="let staff of selectedStaff" class="full-width flex-center" style="border: 1px solid #666; padding: 10px; background: transparent" id="selectTenant">{{ staff.name }} <span style="margin-left: 20px; color: red; font-weight: bold">X</span></button>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>Notes</ng-template>
            <div class="time-line-add" [ngClass]="(!PhotoModified || IsNotTenant) ? 'time-line-add' : 'time-line-add-photo'">
                <label for="cover-art" class="browse-button"><i class="fa fa-camera"></i></label>
                <input style="display: none" accept=".png, .jpeg, .jpg" class="box__file" type="file" name="files[]" id="cover-art" data-multiple-caption="{ count } files selected" (change)="handleFileInput($event.target.files); readURL($event); $event.stopPropagation();" multiple />
                <div class="middle-col" style="width: 44%" [ngClass]="(IsNotTenant) ? 'middle-col' : 'middle-col-tenant'">
                    <!-- <md-input-container class="send-text light-input items animated fadeInUp"> <input mdInput autocorrect="on" placeholder="Type in your message..." [(ngModel)]="newTaskFeed.message" /> </md-input-container><br /> -->
                    <textarea placeholder="Type in your message..." [(ngModel)]="newTaskFeed.message" class="send-text light-input items animated fadeInUp"> </textarea>
                    <span *ngIf="(null != UploadPreviews) && (UploadPreviews.length > 0)" style="width: 100%; display: block">
                        <img *ngFor="let photo of UploadPreviews" src="{{ photo }}" style="width: 140px; height: auto" />
                    </span>
                </div>
                <div class="middle-col" style="width: auto !important; margin-left: 25px" *ngIf="IsAdmin">
                    <label style="margin-right: 5px"> Status </label><br />
                    <md-select style="min-width: 150px" [(ngModel)]="newTaskFeed.status"> <md-option *ngFor="let status of taskStatus" [value]="status" (click)="onStatusChange(status)"> {{ status }} </md-option> </md-select><br />
                </div>
                <div class="middle-col">
                    <label class="switch-light switch-candy-blue" *ngIf="(IsAdmin || IsLandlord)">
                        <input type="checkbox" [(ngModel)]="SharedWithTenant" />

                        <strong style="margin-right: 5px; font-size: 14px"> Shared w/ Tenant </strong>

                        <span>
                            <span>No</span>
                            <span>Yes</span>
                            <a></a>
                        </span>
                    </label>

                    <label class="switch-light switch-candy-blue" *ngIf="IsAdmin">
                        <input type="checkbox" [(ngModel)]="SharedWithLandlord" />

                        <strong style="margin-right: 5px; font-size: 14px"> Shared w/ Landlord </strong>

                        <span>
                            <span>No</span>
                            <span>Yes</span>
                            <a></a>
                        </span>
                    </label>

                    <label class="switch-light switch-candy-blue" *ngIf="IsLandlord && !IsStaff">
                        <input type="checkbox" disabled="true" [(ngModel)]="SharedWithStaff" />

                        <strong style="margin-right: 5px; font-size: 14px"> Share w/ Silver Brick team?</strong>

                        <span>
                            <span>No</span>
                            <span>Yes</span>
                            <a></a>
                        </span>
                    </label>
                    <!-- <md-checkbox [(ngModel)]="SharedWithLandlord"></md-checkbox> -->
                </div>
                <button md-raised-button (click)="SendText()" class="send-button">Send</button>
            </div>
            <div class="upload-bar" *ngIf="IsUploading">
                <img src="{{ UploadPreview }}" />
                <div class="upload-container">
                    <p *ngIf="!IsUploadDone">Uploading your file... ({{ ProgressPercent }}%)</p>
                    <p *ngIf="IsUploadDone" class="upload-done lightgrey">{{ UploadStatus }}</p>
                    <div class="progress-bar">
                        <div class="progress-loader" [style.width.%]="ProgressPercent"></div>
                    </div>
                </div>
                <button class="cancel-upload" (click)="CancelImageUpload()">
                    <md-icon name="cancel"></md-icon>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="timeline">
                        <div class="timeline-item" *ngFor="let activity of (taskFeed$ | async)">
                            <div class="timeline-time animated fadeInUp delay3">
                                <span>{{ activity.timestamp | date:'short' }}</span>
                                <md-icon>{{ GetIconName(activity) }}</md-icon>
                            </div>
                            <div *ngIf="(null == activity.photoGallery) || ((null != activity.photoGallery) && (activity.photoGallery.length === 0))" class="activity-message animated fadeInUp delay3">
                                <letter-avatar [text]="activity?.authorName" [size]="34"></letter-avatar>
                                <div class="message-container">
                                    <div style="display: flex"><span class="author">{{ activity.authorName }}</span><span style="font-size: 12px; text-decoration: none !important; font-weight: normal !important"></span>&nbsp;&nbsp;<span *ngIf="IsNotTenant">Shared with {{ GetAudience(activity.audience) }}</span></div>
                                    <br /><br />&nbsp;<span *ngIf="(null != activity.message)" class="title">Message</span> <br />&nbsp;<span *ngIf="(null != activity.message)">{{ activity.message }}</span> <br />&nbsp;<br /><span class="title" *ngIf="IsAdmin">Assigned To</span> <br />&nbsp;<span *ngIf="(null != task.assignees) && IsAdmin"
                                        ><p *ngFor="let assignee of task.assignees">{{ assignee.name }}<br /></p
                                    ></span>
                                    <br />&nbsp;<br /><span class="title">Status</span> <br />&nbsp;<span>{{ activity.status }}</span>
                                </div>
                            </div>
                            <div *ngIf="(null != activity.photoGallery) && (activity.photoGallery.length > 0)" class="activity-message animated fadeInUp delay3">
                                <letter-avatar [text]="activity?.authorName" [size]="34"></letter-avatar>
                                <div class="message-container">
                                    <div style="display: flex"><span class="author">{{ activity.authorName }}</span><span style="font-size: 12px; text-decoration: none !important; font-weight: normal !important"></span>&nbsp;&nbsp;<span *ngIf="IsNotTenant">Shared with {{ GetAudience(activity.audience) }}</span></div>
                                    <br /><br />&nbsp;<span class="title" *ngIf="(null != activity.message)">Message</span> <br />&nbsp;<span *ngIf="(null != activity.message)">{{ activity.message }}</span> <br />&nbsp;<br /><span class="title">Status</span> <br />&nbsp;<span>{{ activity.status }}</span>
                                </div>
                                <br /><br />
                                <span style="display: inline-flex;position: relative;" *ngFor="let photoURL of activity.photoGallery; let inx = index;">
                                    <md-icon *ngIf="IsAdmin" style="position: absolute; left: 6px; top: 5px !important; z-index: 99999; color: red; background: #fff; border-radius: 50%;" (click)="UpdateHistory(activity, photoURL)">cancel</md-icon>
                                    <img (click)="OpenImage($event.target)" src="{{ photoURL }}" style="width: auto; height: 140px" />
                                </span>
                            </div>
                            <div (click)="ApproveHistory(activity)" *ngIf="(!activity.approved && IsAdmin)" class="activity-message" style="background-color: green; color: #fff">
                                <ion-col class="button-col" col-100> Approve </ion-col>
                            </div>
                        </div>
                        <div class="timeline-item-last">
                            <div class="timeline-time">
                                <md-icon>check</md-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tab-group>
    <md-dialog-actions style="display: flex; justify-content: space-between">
        <div style="display: flex; justify-content: flex-end">
            <button md-button (click)="closeAction()">CLOSE</button>
        </div>
        <div *ngIf="IsAdmin" style="display: flex; justify-content: flex-end">
            <button md-button style="background-color: red; color: white" (click)="DeleteTask()">DELETE</button>
        </div>
    </md-dialog-actions>
</div>
