<div class="tenant-view">
    <p md-dialog-title>
        {{ orgDetailTitle }}
        <md-progress-bar
            *ngIf="(orgState$ | async)?.loading"
            mode="indeterminate">
        </md-progress-bar>
    </p>

    <md-dialog-content>
        <div class="top-table-buttons" *ngIf="!IsNewOrg">
            <div style="width:50%;">
            </div>
            <button md-button color="primary" (click)="buildingAction()" [disabled]="(orgState$ | async)?.loading || IsNewOrg"><md-icon>add</md-icon>ADD BUILDING</button>
        </div>
        <br>
        <form class="dba-form" [formGroup]="orgForm">
            <collapsible-control [collapseState]="1">
                <div class="collapsible-control-header">
                    Org Information
                </div>
                <br>
                <div class="collapsible-control-content">
                    <br>
                    <div class="full-width flex-center">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Name" type="text" formControlName="name">
                        </md-input-container>
                        <span class="tiny-filler"></span>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Phone" type="keypad" formControlName="phone">
                        </md-input-container>
                    </div>
                    <br>
                    <div formGroupName="address">
                        <label>
                            Address
                        </label>
                        <div class="full-width flex-center">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Address Line 1" type="text" formControlName="line1">
                            </md-input-container>
                            <span class="tiny-filler"></span>
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Address Line 2" type="text" formControlName="line2">
                            </md-input-container>
                        </div>
                        <div class="full-width flex-center">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="City" type="text" formControlName="city">
                            </md-input-container>
                            <span class="tiny-filler"></span>
                            <md-select formControlName="state" class="full-width">
                                <md-option 
                                *ngFor="let state of stateList" 
                                [value]="state"
                                (click)="onStateChange(state)"
                                >
                                    {{ state }}
                                </md-option>
                            </md-select>
                        </div>
                        <div class="full-width flex-center">
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Zip" type="keypad" formControlName="zip">
                            </md-input-container>
                        </div>
                    </div>
                 <!--    <div formGroupName="config">
                        <label>
                            Building Configurations
                        </label>
                        <div class="full-width flex-center" style="flex-direction:column;">
                            <md-slide-toggle formControlName="isEmailSendingEnabled">Email Access Enabled?</md-slide-toggle>
                        </div>
                        <div class="full-width flex-center" style="flex-direction:column;">
                            <md-slide-toggle formControlName="isSMSSendingEnabled">SMS Access Enabled?</md-slide-toggle>
                        </div>
                        <label *ngIf="!isNewBuilding">
                            Property Code
                        </label>
                        <md-input-container *ngIf="!isNewBuilding" class="full-width">
                            <input mdInput type="text" formControlName="propertyCodes" disabled="true">
                        </md-input-container>
                    </div> -->
                </div>
            </collapsible-control>
            <br>
        </form>
    </md-dialog-content>

    <md-dialog-actions style="display:flex; justify-content: space-between;">
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="closeAction()">CLOSE</button>
            <button md-raised-button color="primary" (click)="saveAction()" [disabled]="orgForm.invalid || (orgState$ | async)?.loading">SAVE</button>
        </div>
        <div>
            <button md-button style="background-color: #f53d3d; color: #fff !important;" (click)="deleteAction()" *ngIf="org">DELETE</button>
        </div>
    </md-dialog-actions>
</div>