<div id="loadingScreen" *ngIf="(isLoading$ | async)">
    <div class="spinner"></div>
</div>
<div class="login-container" *ngIf="!(isLoading$ | async)">
    <div id="header" class="default-nav" *ngIf="!(isLoading$ | async)">
        <img src="assets/img/title-white.png" style="animation: 1.8s fadeIn;">
    </div>
    <div class="login animated fadeInUp" *ngIf="!(isLoading$ | async)" align="center">
        <form ngNativeValidate class="form-signin" #loginForm="ngForm">
            <md-input-container class="light-input items animated fadeInUp">
                <input mdInput id="inputEmail" placeholder="Email address" type="email" name="email" ngModel required autofocus>
            </md-input-container>
            <md-input-container class="light-input items animated fadeInUp">
                <input mdInput id="inputPassword" placeholder="Password" type="password" name="password" ngModel required>
            </md-input-container>
            <div class="error-message ms-font-m">{{(error$ | async)?.Message}}</div>
            <button (click)="onSubmit(loginForm)" id="signInButton" md-raised-button type="submit">SIGN IN</button>
        </form>
    </div>
</div>
<!-- <div *ngIf="!(isLoading$ | async)" id="footer-left" align="center" (click)="ChangeLogin()">
    <span>
       Sign In
    </span>
</div> -->

<div *ngIf="!(isLoading$ | async)" id="footer-right" align="center" (click)="ResetPassword()">
    <span>
       Forgot Password
   </span>
</div>

