.login-container {
  padding-top: 10%;
  background-color: #fff;
}
.login paper-input {
  width: 100%;
  --paper-input-container-input-color: #FFFFFF;
  --paper-input-container-underline: {
    background: rgba(255, 255, 255, 0.2);
  }
}

.light-input {
  color: white;
}

.login-button {
  margin: 20px 0 0 0;
  padding-left: 30px;
  padding-right: 30px;
  background: #539bed;
  color: #FFFFFF;
}

.error-message {
  color: red;
}

.default-nav {
  display: block;
  position: absolute;
  background-color: #2A314C;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); 
  img {
    float: left;
    max-width: 200px;
  }
}

.links {
  float: right;
}

.links .link {
  color: #a0a0a0;
  display: inline;
  margin-left: 20px;
  font-size: 1.3rem;
  font-weight: 450;
}

button {
  &.activated {
    opacity: 0.7;
  }
}


.login {
  width: 400px;
  background: transparent;
  margin: 16px auto;
  padding: 20px;
  display: block;
  input {
    padding-left: 10px;
    color: #000;
    font-size: 1.4rem;
    font-weight: 450;
  }
  .items {
    width: 90%;
  }
  button {
    background-color: #a0a0a0;
  }
}



#footer {
  border-top: 1px solid #a0a0a0;
  color: #fff;
  background: #539bed;
  font-size: 14px;
  padding: 10px;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

#footer-left {
  border-top: 1px solid #a0a0a0;
  color: #fff;
  background: #539bed;
  font-size: 14px;
  padding: 10px;
  font-weight: 300;
  float: left;
  width: 50%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

#footer-right {
  border-top: 1px solid #a0a0a0;
  color: #fff;
  background: #2A314C;
  font-size: 14px;
  padding: 0 16px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  cursor: pointer;
}

.content-wrapper button {
  background-color: #539bed;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border: none;
  width: 175px;
  height: 175px;
}

.content-wrapper button:hover {
  -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1);
}

.content-wrapper #choice {
  background-color: #cecece;
  border-radius: 50%;
  margin-left: 30px;
  font-size: 16px;
  color: #000;
  padding: 70px 30px;
  vertical-align: middle;
  border: none;
  width: 175px;
  height: 175px;
  cursor: pointer;
}

.content-wrapper #choice:hover {
  -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1);
}

.main-panel button:hover {
  background-color: #dedede;
  color: #000;
}

.main-panel #choice:hover {
  background-color: #000;
  color: #fff;
}

#footer a {
  text-decoration: none;
  color: #FFF;
}

#footer a:hover {
  text-decoration: none;
  color: #000;
}

#signInButton {
  width: 40%;
  margin: 0 auto;
  color: #fff;
  background: #2A314C;
  font-size: 20px;
  padding: 0 16px;
  font-weight: bold;
}

.login md-input-container.dark-input /deep/.mat-input-wrapper label {
  color: #000 !important;
}

.login md-input-container.dark-input /deep/.mat-input-wrapper .mat-input-underline {
  border-color: #000 !important;
}

@mixin box-shadow($e) {
  -webkit-box-shadow: $e;
  -moz-box-shadow: $e;
  box-shadow: $e;
}

@media (max-width: 991px){
  .login {
    margin-top: 25%;
  }
  .default-nav {
    width: 100%;
    display: block;
    img {
      margin-left: 20%;
      max-width: 200px;
    }
  }
  .links {
    width: 100%;
    margin-top: 7%;
    text-align: center;
  }
  .links .link {
    margin-left: 10px;
    text-align: center;
  }
}