<div class="right_col" role="main">
    <md-progress-bar *ngIf="(loading$ | async)" mode="indeterminate" style="position: absolute; top: 0px;width: 100% !important;"> </md-progress-bar>
    <h2 class="thin">Recurring Tasks</h2>
    <div style="margin-top: 30px;">
        <div class="top-table-buttons" *ngIf="IsAdmin">
            <div style="width:31%;">
                <search-dropdown 
                 style="min-width: 250px"
                  *ngIf="((null != sessionData.user) && (sessionData.user.role !== 'Tenant'))"
                  [ShowingPeople]="false"
                  [items]="(AllBuildings$ | async)" 
                  (afterChange)="ScopeTasks($event)"
                  [Placeholder]="'Filter by Property'"
                  [(ngModel)]="item">
                </search-dropdown>
               <!-- <md-select placeholder="Filter by building" class="select2-container--default" style="min-width: 300px" *ngIf="((null != sessionData.user) && (sessionData.user.role !== 'Tenant'))">
                    <md-option style="color: #000 !important;" *ngFor="let building of (AllBuildings$ | async)" [value]="building.id" (click)="ScopeTasks(building)"> {{ building.name }} </md-option>
                </md-select> -->
                <a class="close-link" (click)="RefreshTasks()" style="font-size: 20px; float: right;">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
            </div>
            <div style="width:31%;">
                <search-dropdown 
                 style="min-width: 250px"
                  *ngIf="((null != sessionData.user) && (sessionData.user.role !== 'Tenant'))"
                  [ShowingPeople]="true"
                  [Placeholder]="'Filter by Staff'"
                  [items]="(staffUsers$ | async)" 
                  (afterChange)="ScopeStaffTasks($event)"
                  [(ngModel)]="item">
                </search-dropdown>
               <!--  <md-select
                    placeholder="Filter by staff"
                    class="select2-container--default"
                    style="min-width: 150px; float: right"
                    *ngIf="(null != sessionData.user)"
                    [disabled]="(loading$ | async) || IsLoading">
                    <md-option
                        style="color: #000 !important"
                        *ngFor="let user of (staffUsers$ | async)"
                        [value]="user.uid"
                        (click)="ScopeStaffTasks(user)">
                        <div
                            style="
                                display: inline-flex;
                                align-content: center;
                                align-items: center;
                                width: 100%;
                                height: auto;">
                            <letter-avatar
                                [text]="user.firstName + ' ' + user.lastName"
                                [background]="user.calendarColor"
                                [fontColor]="user.calendarTextColor"
                                [size]="25"
                                style="margin-right: 6px"></letter-avatar>
                            {{ user.firstName }} {{ user.lastName }}
                        </div>
                    </md-option> </md-select> -->
            </div>
            <div style="width:31%;">
                <button *ngIf="IsNotLandlord" md-raised-button (click)="RecurringTask()" [disabled]="loading$ | async" style="float: right;"><md-icon>add</md-icon>Add Recurring Task</button>
             </div>
        </div>
        <div class="top-table-buttons" style="display: inline-flex;width: 60%;margin: 20px 0;align-items: center;">
            <div style="width:31%;">
                <md-input-container style="width: 100%; padding: 0;margin-right: 30px;" class="full-width">
                    <input
                        [(ngModel)]="searchRef"
                        mdInput
                        placeholder="Search"
                        (keyup)="SearchTasks($event.target.value)"
                        type="text"
                        name="text"
                        autofocus />
                </md-input-container>
            </div>
            <div style="width:31%;">
                <md-select
                    [ngModel]="(searchType$ | async)"
                    placeholder="Search Type"
                    class="select2-container--default"
                    style="min-width: 150px"
                    [disabled]="(loading$ | async)">
                    <md-option style="color: #000 !important" value="Staff" (click)="ChangeSearch('Staff')">
                        Staff
                    </md-option>
                    <md-option style="color: #000 !important" value="Property" (click)="ChangeSearch('Property')">
                        Property
                    </md-option>
                </md-select>
            </div>
            <div style="width:31%;">
                <md-select placeholder="Filter by task type" class="select2-container--default" style="min-width: 300px" *ngIf="((null != sessionData.user) && (sessionData.user.role !== 'Tenant'))">
                    <md-option style="color: #000 !important;" value="All" (click)="ScopeTaskType('All')"> All </md-option>
                    <md-option style="color: #000 !important;" value="Trash" (click)="ScopeTaskType('Trash')"> Trash </md-option>
                    <md-option style="color: #000 !important;" value="Leaves" (click)="ScopeTaskType('Leaves')"> Leaves </md-option>
                    <md-option style="color: #000 !important;" value="Hallways" (click)="ScopeTaskType('Hallways')"> Hallways </md-option>
                </md-select>
            </div>
        </div>
        <br>
       <!--  <div class="top-table-buttons">
            <button md-raised-button (click)="exportButtonHandler()" [disabled]="loading$ | async" style="float: right;"><md-icon>share</md-icon>Export List</button>
        </div>
        <br> -->
        <div *ngIf="loading$ | async">
            <md-spinner class="center-spinner medium-spinner"></md-spinner>
        </div>
        <div *ngIf="!((error$ | async) === null)  && !(loading$ | async)" class="error-text">
            {{(error$ | async)?.Message}}
        </div>
        <div class="white" *ngIf="((error$ | async) === null)">
            <div class="x_content">
                <table class="highlight table-full-width table-responsive" id="users-table">
                    <thead class="table-header" *ngIf="IsAdmin && ((null != (tasks$ | async)) && ((tasks$ | async).length === 0)) || (null == (tasks$ | async))">
                        <tr>
                            <td style="text-align: center;font-size: 28px;">No Tasks!</td>
                        </tr>
                    </thead>
                   
                    <thead class="table-header">
                        <tr>
                            <td (click)="sortTable()" style="cursor: pointer;width: 200px;padding: 3%;">Subject</td>
                            <td>Building</td>
                            <td>Type</td>
                            <td>Scheduling</td>
                            <td>Assigned To:</td>
                            <td>Created/Updated</td>
                        </tr>
                    </thead>
                    <tbody *ngIf="IsAdmin && ((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                        <tr (click)="RecurringTask(task)" style="cursor: pointer;border-bottom: 1px solid;" *ngFor="let task of tasks$ | async">
                            <td style="width: 200px;padding: 3%;">
                                {{ task.subject }}<br>
                                <span style="font-size: 90%">By {{ task.authorName }}</span>
                                <md-icon style="font-size:10px;height:10px;width:10px" *ngIf="!(task?.active)">visibility_off</md-icon>
                            </td>
                            <td *ngIf="null != task && (null != task.taskType)">{{ task.taskType }}</td>
                            <td *ngIf="null == task.taskType || ((null != task.taskType) && (task.taskType === ''))">{{ task.taskType }}</td>
                            <td>{{ task.buildingName }}</td>
                            <td>
                                <p *ngIf="((task.repeats === 'Custom') && (task.repeatInterval === 'Weekly'))">
                                    Repeats {{ GetHowOftenRepeat(task.repeatInterval, task.repeatQuantity) }} on <span *ngFor="let day of task.monthlyWeekDays">{{ GetDay(day) }}s, </span> {{ GetNewDate(task) }}
                                </p>
                                <p *ngIf="((task.repeats === 'Custom') && (task.repeatInterval === 'Monthly') && (task.monthlyConvention === 'Day of month'))">
                                    Repeats {{ GetHowOftenRepeat(task.repeatInterval, task.repeatQuantity) }} on the <span *ngFor="let day of task.monthlyDays">
                                    {{ (day + 1) }}{{ Nth(day + 1) }}, 
                                    </span> day(s) {{ GetNewDate(task) }}
                                </p>

                                <p *ngIf="((task.repeats === 'Custom') && (task.repeatInterval === 'Monthly') && (task.monthlyConvention === 'Day of week'))">Repeats {{ GetHowOftenRepeat(task.repeatInterval, task.repeatQuantity) }} on the 
                                    {{ GetWeek(task) }} of the month {{ GetNewDate(task) }}
                                </p>


                                <p *ngIf="((task.repeats === 'Custom') && (task.repeatInterval !== 'Once') && (task.repeatInterval !== 'Weekly') && (task.repeatInterval !== 'Monthly'))">
                                    Repeats every {{ task.repeatQuantity }} <span *ngIf="(task.repeatInterval === 'Daily')">day(s)</span> <span *ngIf="(task.repeatInterval === 'Yearly')">year(s) on {{ GetYearRepeat(task) }}</span> {{ GetNewDate(task) }}
                                </p>
                                <p *ngIf="(task.repeats !== 'Custom')" style="display: flex">{{ task.repeatInterval }}
                                    <span *ngIf="(task.repeatInterval !== 'Once') && ((task.repeatInterval !== 'Monthly') && (task.monthlyConvention !== 'Day of week'))">{{ GetNewDate(task) }}
                                    </span></p>
                                <p *ngIf="(task.repeats === 'Once')" style="display: flex">
                                    Repeats Once
                                </p>
                            </td>
                  
                            <td>
                                <span *ngIf="(null != task.assignees)">
                                <p *ngFor="let assignee of task.assignees">{{ assignee.name }}<br></p></span>
                            </td>
                            <td>
                                Created on: {{ (task.date | date:'short') || "Time Error" }}<br>
                                Last Updated on: {{ (task.lastUpdated | date:'short') || "Time Error" }}<br>
                                By: {{ task.updateAuthor }} <span style="font-size: 80%;">({{ task.updatedRole }})</span>
                            </td>
                        </tr>
                    </tbody>

                
                </table>
            </div>
        </div>
        <br>
        <div class="bottom-table-buttons">
            <div style="width:50%;">
                
            </div>
            <button *ngIf="IsNotLandlord" md-raised-button (click)="RecurringTask()" [disabled]="loading$ | async" style="float: right;"><md-icon>add</md-icon>Add Request</button>
        </div>
    </div>
</div>
