.top-table-buttons {
    display: inline-flex;
    justify-content: space-between;
}

.no-token {
	color: #FF0000;
}

.bottom-table-buttons {
    display: block;
    justify-content: space-between;
}

.tenant-update {
    background-color: #e86d6d !important;
    font-weight: bold;
    color: #fff;
}

@media(max-width: 767px) {
    .search-dropdown {
        min-width: 100%;
    }
}


@media(min-width: 768px) {
    .search-dropdown {
        min-width: 250px;
    }
}