<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3 style="font-size: 30px;">{{ viewDate | calendarDate: view + "ViewTitle":locale }}</h3>
        <!-- <h3 *ngIf="(view === 'day')" style="font-size: 14px;">{{ viewDate | calendarDate: view + "ViewTitle":locale }}</h3> -->
    </div>
  <!--   <div class="col-md-4" style="display: inline-flex;justify-content: space-between;">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="viewChange.emit('month')" [class.active]="view === 'month'">
                Month
            </div>
         
            <div class="btn btn-primary" (click)="viewChange.emit('day')" [class.active]="view === 'day'">
                Day
            </div>
        </div>
        <div class="btn-group" *ngIf="(view === 'day')">
            <div class="btn btn-primary" (click)="switchMap.emit(false)" [class.active]="!ShowingMap">
                Calendar
            </div>
            <div class="btn btn-primary" (click)="switchMap.emit(true)" [class.active]="ShowingMap">
                Map
            </div>
        </div>
    </div>  -->
</div>
<br />