html body.nav-md div.cdk-overlay-container div#cdk-overlay-0.cdk-overlay-pane div.mat-select-panel.ng-trigger.ng-trigger-transformPanel.ng-tns-c10-5.mat-primary.mat-select-panel-done-animating div.mat-select-content.ng-trigger.ng-trigger-fadeInContent, .mat-select-content {
    display: inline-grid !important;
    white-space: nowrap !important;
    overflow-y: scroll !important;
}