<div class="tenant-view">
    <p md-dialog-title>
        {{buildingDetailTitle}}
        <md-progress-bar
            *ngIf="(loading$ | async)"
            mode="indeterminate">
        </md-progress-bar>
    </p>

    <md-dialog-content class="building-users">
        <collapsible-control [collapseState]="1">
            <div class="collapsible-control-header">
                {{ buildingName }}'s Users
            </div>
            <br>
            <div class="collapsible-control-content">
                <div *ngIf="!(loading$ | async)">
                    <h2 class="thin">User List</h2>
                    <div class="top-table-buttons">
                        <div style="width:50%;">
                            <input 
                                style="width:50%;height:100%"
                                minlength="1"
                                placeholder="Search by email or UID"
                                (keyup.enter)="searchUidOrEmail()"
                                [(ngModel)]=uidOrEmail>
                            <span class="tiny-filler"></span>
                            <button md-raised-button (click)="searchUidOrEmail()" [disabled]="loading$ | async"><md-icon>search</md-icon>Search</button>
                        </div>
                        <div>
                            <button md-button style="background-color: #f53d3d;" (click)="deleteUsers()">
                                Delete Users
                            </button>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="loading$ | async">
                        <md-spinner class="center-spinner medium-spinner"></md-spinner>
                    </div>
                    <div *ngIf="!((error$ | async) === null)  && !(loading$ | async)" class="error-text">
                        {{(error$ | async)?.Message}}
                    </div>
                    <div class="white" *ngIf="((error$ | async) === null)  &&  !(loading$ | async)">
                        <div class="x_content">
                            <table class="highlight">
                                <thead class="table-header">
                                    <tr>
                                        <td></td>
                                        <td>Name</td>
                                        <td>Email</td>
        <!--                                 <td>Last Activity</td>
         -->                                <td>Role</td>
                                        <td>Last Activity</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users$ | async">
                                        <td class="use-pointer center-align">
                                            <md-icon (click)="expandUser(user)">open_in_new</md-icon>
                                        </td>
                                        <td>
                                            {{ user.firstName }} {{ user.lastName }}
                                            <md-icon style="font-size:10px;height:10px;width:10px" *ngIf="!(user?.isActive)">visibility_off</md-icon>
                                        </td>
                                        <td>
                                           {{ user.email }}
                                        </td>
                                        <!-- <td>{{ (null != user.lastActivity) ? (user.lastActivity | date:'short') : (user.lastSignedInAt | date:'short') }}</td> -->
                                        <td>{{ user.role }}</td>
                                        <td>{{ (null != user.lastActivity) ? ((user.lastActivity | date:'short') || "Time Error") : 'N/A' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </collapsible-control>
    </md-dialog-content>

    <md-dialog-actions style="display:flex; justify-content: space-between;">
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="closeAction()">CLOSE</button>
        </div>
    </md-dialog-actions>
</div>