// Toolbar styles
// .dashboard-navbar-container {
//     position: relative;
//     z-index: 10;
//     color: white;
// }
.menu_section h3 {
  text-shadow: none;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  font-size: 24px;
}
.default-nav {
  display: block;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); 
}

.default-nav .logo {
    align-self: left;
    justify-self: left;
    max-width: 170px;
    padding-left: 10px;
    padding-top: 5px;
}

.profilePic {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.links {
  float: right;
  vertical-align: middle;
  padding: 20px;
}

.links .link {
  color: #666;
  display: inline;
  margin-left: 16px;
  font-size: 1.3rem;
  font-weight: 450;
  cursor: pointer;
}

.links .link-active {
  color: #2A314C;
  display: inline;
  margin-left: 16px;
  font-size: 1.3rem;
  font-weight: 650;
  cursor: pointer;
}

#menuButton {
    border: none;
    float: left;
    background: transparent;
}

.dashboard-toolbar-filler {
    flex: 1 1 auto;
}

// md-sidenav {
//     background: rgba(0, 0, 0, 0.097647);
//     width: 200px;
//     border-right: 1px solid rgba(0, 0, 0, 0.167647);
// }

// .dashboard-sidenav h3 {
//     border: none;
//     font-size: 10px;
//     letter-spacing: 1px;
//     line-height: 24px;
//     text-transform: uppercase;
//     font-weight: 400;
//     margin: 0;
//     padding: 0 16px;
//     color: #666;
//     background: rgba(0, 0, 0, 0.317647);
// }

// .dashboard-sidenav ul {
//     background: #fafafa;
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
// }

// .dashboard-sidenav li {
//     border-color: rgba(0, 0, 0, .06);
//     color: rgba(255, 255, 255, .74);
//     border-bottom-width: 1px;
//     border-bottom-style: solid;
//     margin: 0;
//     padding: 0;
// }

// .dashboard-sidenav li>a {
//     box-sizing: border-box;
//     display: block;
//     font-size: 14px;
//     font-weight: 400;
//     line-height: 47px;
//     text-decoration: none;
//     -webkit-transition: all .3s;
//     transition: all .3s;
//     padding: 0 16px;
//     position: relative;
//     color: rgba(0, 0, 0, .74);
// }

// .dashboard-sidenav li>a.is-selected,
// .dashboard-sidenavv li>a:focus,
// .dashboard-sidenav li>a:hover {
//     background: #F5BA2E;
//     color: #000;
// }
.left_col li>a:hover {
  background-color: #0C1224;
  color: #172D44;
}
.left_col li>a.dashboard-sidenav-item-selected {
    background-color: #0C1224;
    color: #fff;
    border-left: 10px solid #C00000;
}

// App component styles
.dashboard-component {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dashboard-component-viewer {
    width: 100%;
}

.dashboard-content {
    margin: 0 40px;
    padding: 10% 1%;
}

@media (max-width: 991px) {
  .profilePic {
      width: 40px;
      height: 40px;
      border-radius: 10px;
  }

  .links {
    width: 100%;
    
  }
  .default-nav .logo {
    margin-left: 0px;
  }
  .dashboard-content {
    margin-top: 25%;
    padding: 6% 0;
  }
}
