<div class="container body">

    <md-sidenav-container class="main_container">
        <md-sidenav #sidenav mode="side" id="left_col" opened="true" class="col-md-3 left_col">
            <div class="scroll-view">
                <div align="center" class="navbar nav_title" style="border: 0">
                    <button *ngIf="IsMobile" style="font-size: 11px; padding: 12px 8px; color: #fff" class="nav toggle" md-icon-button (click)="ToggleMenu()">
                        <i style="color: #fff" class="fa fa-close"></i>
                    </button>
                    <a [routerLink]="['home']" class="site_title">
                        <img [routerLink]="['home']" class="logo" src="assets/img/title-white.png" style="animation: 1.8s fadeIn; max-width: 125px" />
                    </a>
                </div>

                <div class="clearfix"></div>
                <!-- menu profile quick info -->
                <div style="padding-bottom: 10px" class="profile clearfix">
                    <div class="profile_pic" style="display: grid; margin-top: 11%; text-align: center; justify-content: center">
                        <letter-avatar [text]="((null != (profile$ | async)) && (null != (profile$ | async).firstName) ? ((profile$ | async).firstName + ' ' + (profile$ | async).lastName) : 'Silver Brick')" style="animation: 1.8s fadeIn" [size]="60"></letter-avatar>
                    </div>
                    <div class="profile_info">
                        <h2>{{ ((null != (profile$ | async)) && (null != (profile$ | async).firstName) ? ((profile$ | async).firstName + ' ' + (profile$ | async).lastName) : '') }}</h2>
                        <h3 style="font-weight: bold">{{ ((null != (profile$ | async)) && (null != (profile$ | async).orgs) && (null != (profile$ | async).orgs.buildings) ? ('Property:\n' + (profile$ | async).orgs.buildings[0].name) : (profile$ | async).role) }}</h3>
                    </div>
                </div>

                <br />

                <!-- sidebar menu -->
                <!-- *****************************************************************************
                                                 Desktop Menu
                ***************************************************************************** -->
                <div *ngIf="!IsMobile" id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                    <!-- *****************************************************************************
                                                     Tenant Menu
                    ***************************************************************************** -->
                    <div *ngIf="IsTenant" class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a [routerLink]="['home']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-check"></i>
                                    Requests
                                </a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a (click)="Logout()" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-sign-out"></i> Logout </a>
                            </li>
                        </ul>
                    </div>

                    <!-- *****************************************************************************
                                                     Landlord Menu
                    ***************************************************************************** -->
                    <div *ngIf="IsLandlord" class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a [routerLink]="['home']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-tasks"></i>
                                    Requests
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['tasks']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-check"></i>
                                    Completed Porter Services
                                </a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a (click)="Logout()" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-sign-out"></i> Logout </a>
                            </li>
                        </ul>
                    </div>

                    <!-- *****************************************************************************
                                                     Staff Menu
                    ***************************************************************************** -->
                    <div *ngIf="IsStaff" class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a [routerLink]="['home']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-tasks"></i>
                                    Requests
                                </a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a (click)="Logout()" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-sign-out"></i> Logout </a>
                            </li>
                        </ul>
                    </div>

                    <!-- *****************************************************************************
                                                     Admin Menu
                    ***************************************************************************** -->
                    <div *ngIf="(profile$ | async).isAdmin" class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li (click)="RefreshTasks()">
                                <a [routerLink]="['home']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-home"></i>
                                    Home
                                </a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a [routerLink]="['orgs']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-building-o"></i> Property Management</a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a [routerLink]="['users']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-users"></i> User Management
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu" style="display: block">
                                    <li [routerLink]="['users']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Staff Management </a></li>
                                    <li [routerLink]="['tenants']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Tenant Management </a></li>
                                    <li [routerLink]="['landlords']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Owner Management </a></li>
                                </ul>
                            </li>
                             <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a [routerLink]="['recurring']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-repeat"></i> Task Management
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                
                                <ul class="nav child_menu" style="display: block">
                                    <li [routerLink]="['recurring']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Recurring Tasks </a></li>
                                    <li [routerLink]="['tasks']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>One-Off Requests </a></li>
                                    <li [routerLink]="['archive']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Task Archive </a></li>
                                </ul>
                            </li>
                           <!--  <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a [routerLink]="['tasks']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-check"></i> Request Management </a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a [routerLink]="['archive']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-archive"></i> Request Archive </a>
                            </li> -->
                            <!--    <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a [routerLink]="['calendar']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-calendar"></i> Job Calendar 
                                </a>
                            </li> -->
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a [routerLink]="['chat']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-paper-plane"></i>
                                    Chat
                                </a>
                            </li>

                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a (click)="Logout()" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-sign-out"></i> Logout </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- *****************************************************************************
                                                 Mobile Menu
                ***************************************************************************** -->
                <div *ngIf="IsMobile" id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <!-- *****************************************************************************
                                                     Tenant Menu
                    ***************************************************************************** -->
                    <div *ngIf="IsTenant" class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li (click)="ToggleMenu()">
                                <a [routerLink]="['home']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-check"></i>
                                    Requests
                                </a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a (click)="Logout()" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-sign-out"></i> Logout </a>
                            </li>
                        </ul>
                    </div>

                    <!-- *****************************************************************************
                                                     Staff Menu
                    ***************************************************************************** -->
                    <div *ngIf="IsStaff" class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li>
                                <a [routerLink]="['home']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-tasks"></i>
                                    Requests
                                </a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a (click)="Logout()" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-sign-out"></i> Logout </a>
                            </li>
                        </ul>
                    </div>

                    <!-- *****************************************************************************
                                                     Landlord Menu
                    ***************************************************************************** -->
                    <div *ngIf="IsLandlord" class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li (click)="ToggleMenu()">
                                <a [routerLink]="['home']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-tasks"></i>
                                    Requests
                                </a>
                            </li>
                            <li (click)="ToggleMenu()">
                                <a [routerLink]="['tasks']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-check"></i>
                                    Completed Porter Services
                                </a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a (click)="Logout()" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-sign-out"></i> Logout </a>
                            </li>
                        </ul>
                    </div>

                    <!-- *****************************************************************************
                                                     Admin Menu
                    ***************************************************************************** -->
                    <div *ngIf="(profile$ | async).isAdmin" class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li (click)="ToggleMenu()">
                                <a [routerLink]="['home']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-home"></i>
                                    Home
                                </a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)" (click)="ToggleMenu()">
                                <a [routerLink]="['orgs']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-building-o"></i> Property Management</a>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a [routerLink]="['users']" (click)="ToggleMenu()" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"
                                    ><i class="fa fa-users"></i> User Management
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                <ul class="nav child_menu" style="display: block">
                                    <li (click)="ToggleMenu()" [routerLink]="['users']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Staff Management </a></li>
                                    <li (click)="ToggleMenu()" [routerLink]="['tenants']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Tenant Management </a></li>
                                    <li (click)="ToggleMenu()" [routerLink]="['landlords']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Owner Management </a></li>
                                </ul>
                            </li>
                            <li *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)" (click)="ToggleMenu()">
                                <a [routerLink]="['recurring']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-repeat"></i> Task Management
                                    <span class="fa fa-chevron-down"></span>
                                </a>
                                <span class="fa fa-chevron-down"></span>
                                <ul (click)="ToggleMenu()" class="nav child_menu" style="display: block">
                                    <li (click)="ToggleMenu()" [routerLink]="['recurring']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Recurring Tasks </a></li>
                                    <li (click)="ToggleMenu()" [routerLink]="['tasks']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>One-Off Requests </a></li>
                                    <li (click)="ToggleMenu()" [routerLink]="['archive']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><a>Task Archive </a></li>
                                </ul>
                            </li>
                        
                            <li (click)="ToggleMenu()" *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a [routerLink]="['chat']" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected">
                                    <i class="fa fa-paper-plane"></i>
                                    Chat
                                </a>
                            </li>
                            <li (click)="ToggleMenu()" *ngIf="((null != (IsFirstTime$ | async)) && (null != (IsFirstTime$ | async).isFirstTime) && !(IsFirstTime$ | async)?.isFirstTime)">
                                <a (click)="Logout()" class="link" routerLinkActive="link-active dashboard-sidenav-item-selected"><i class="fa fa-sign-out"></i> Logout </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </md-sidenav>

        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <button *ngIf="!IsMobile" class="nav toggle" md-icon-button (click)="sidenav.toggle()">
                        <i class="fa fa-bars"></i>
                    </button>
                    <button *ngIf="IsMobile" class="nav toggle" md-icon-button (click)="ToggleMenu()">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="profile_dropper">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <letter-avatar [text]="((null != (profile$ | async)) && (null != (profile$ | async).firstName) ? ((profile$ | async).firstName + ' ' + (profile$ | async).lastName) : 'Silver Brick')" style="animation: 1.8s fadeIn; margin-right: 3%" [size]="30"></letter-avatar>
                                {{ ((null != (profile$ | async)) && (null != (profile$ | async).firstName) ? ((profile$ | async).firstName + ' ' + (profile$ | async).lastName) : '') }}
                                <span style="margin-left: 5%" class="fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li>
                                    <a (click)="Logout()">
                                        <i class="fa fa-sign-out pull-right"></i>
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <router-outlet></router-outlet>
    </md-sidenav-container>
</div>
