
.time-view-visible {
    display: block !important;
}
.upload-bar {
    width: 100%;
    position: static;
    top: 0;
    margin-bottom: 5%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    img {
        position: absolute;
        top: 7px;
        left: 9px;
        max-width: 40px;
        max-height: 40px;
        width: 100%;
        height: 100%;
    }
    .cancel-upload {
        position: absolute;
        top: 10px;
        right: 9px;
        min-height: 14px;
        line-height: 14px;
    }
    .upload-container {
        margin: 0 4px 4px 55px;
        padding: 13px 9px;
        p {
            color: #000;
            margin-bottom: 2px;
            text-overflow: clip !important;
            white-space: normal !important;
        }
        .upload-done {
            font-weight: bold;
        }
    }
    .progress-bar,
    .progress-loader {
        border-radius: 100px;
        height: 13px;
    }
    .progress-bar {
        width: 85%;
        overflow: hidden;
        background-color: #fff;
        .progress-loader {
            background-color: #666;
        }
    }
}

.flex-center {
    display: block;
    padding: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.collapsible-control-header {
    font-family: "Mukta-Bold", sans-serif !important;
    background-color: 1px solid rgba(0, 0, 0, 0.1);
}

label {
    font-size: 18px;
    color: #6a6a6a;
    font-family: "Mukta-Bold", sans-serif !important;
}

textarea {
    width: 550px;
    max-width: 80%;
    border: 1px solid;
    height: 150px;
}

.dba-form {
    margin-top: 3%;
}

#users-table {
    margin-bottom: 20px;
}

.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 77vh !important;
    overflow: auto;
    width: 100% !important;
}

#selectTenant {
    padding: 2% !important;
    background-color: #e6e6e6 !important;
    font-size: 17px !important;
    font-weight: bold !important;
    color: #2b4c60 !important;
}

.mat-dialog-title {
    padding: 13px !important;
    // background: #e6e6e6;
    margin: 0px !important;
    position: sticky !important;
    top: -25px!important;
    z-index: 999999!important;
    background: #fff!important;
    border-bottom: 1px solid rgba(0,0,0,0.4)!important;
}

.mat-dialog-container, md-dialog-container {
    padding: 0px !important;
}

.mat-dialog-actions {
    padding: 24px !important;
}

.collapsible-control-header,
.collapsible-control-content {
    padding: 4px 25px !important;
}

label.switch-light.switch-candy-blue span span {
    color: #000 !important;
}

.switch-light > span {
    border-radius: 14px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
}

.time-line-add {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 1px solid;
    padding: 21px;
    .send-text {
        width: 100%;
        margin-left: 20px;
    }
    .send-button {
        float: right;
        max-height: 90px;
        margin-left: 4%;
    }
    .browse-button i {
        font-size: 32px !important;
    }

    .middle-col {
        margin: 0 10px;
    }

    .middle-col-tenant {
        width: 95% !important;
    }
}

.tenant-view {
    margin: -24px !important;
}

.time-line-add-photo {
    display: flex;
    width: 100%;
    height: 240px;
    border-bottom: 1px solid;
    padding: 21px;
    .send-text {
        width: 100%;
        margin-left: 20px;
    }
    .send-button {
        float: right;
        max-height: 90px;
        margin-left: 4%;
    }
    .browse-button i {
        font-size: 32px !important;
    }

    .middle-col {
        margin: 0 10px;
    }

    .middle-col-tenant {
        width: 95% !important;
    }
}

.img-header {
    width: 100%;
    min-height: 300px;
    background-position: center center;
}

/* This is just for CodePen. */

.form {
    max-width: 600px;
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    font-weight: normal;
    line-height: 1.625;
    margin: 8px auto;
    padding: 16px;
}

h2 {
    font-size: 18px;
    margin-bottom: 8px;
}
#timeline,
#summary {
    text-align: center;
    background: #e6e6e6;
    padding: 24px !important;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}

.card {
    box-shadow: none !important;
}
.timeline {
    margin: 30px 0 0 0;
    padding: 0;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10px;
        background: grey;
        left: 20%;
        margin-left: -10px;
    }
}
.timeline-item {
    position: relative;
    display: block;
    margin-bottom: 5%;
    padding-left: 15%;
}

.timeline-item-last {
    position: relative;
    display: block;
    height: 47px;
}
.timeline-time {
    display: inline-block;
    padding-left: 15%;
    span {
        display: block;
        text-align: right;
        &:last-child {
            font-size: 2.9em;
            color: grey;
        }
    }
}

.day_holder {
    position: relative;
    margin-top: 5px;
    // height: 26px;
}

.day_holder a {
    display: block;
    padding: 5px 7px;
    font-size: 14px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 1px 1px 1px;
    float: left;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
    -ms-box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1) inset;
    background-color: #fff;
}

.day_holder a.selected {
    background-color: #2A314C;
    color: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    -ms-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
    position: relative;
    background-image: -webkit-linear-gradient(top, #2A314C, #789);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2A314C), to(#789));
    background-image: -moz-linear-gradient(top, #2A314C, #789);
    background-image: -ms-linear-gradient(top, #2A314C, #789);
    background-image: -o-linear-gradient(top, #2A314C, #789);
}

.timeline-time md-icon {
    width: 40px;
    height: 40px;
    font-size: 1.4em;
    position: absolute;
    color: #fff;
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #474747;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
    line-height: 40px;
    &:after {
        left: 46px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: #474747;
        border-width: 10px;
        top: 10px;
    }
}

.activity-message {
    margin-left: 15% !important;
    width: 75%;
    position: relative;
    border-radius: 25px;
    // border-color: #f0b840;
    display: block;
    border-style: solid;
    border-width: 2px;
    padding: 2%;
    background-color: #e8e8e8;
    .title {
        text-transform: capitalize !important;
        font-weight: bold;
    }
}

.author {
    margin-left: 5px;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    display: inline-flex;
    font-family: "Mukta-Bold", sans-serif !important;
}

@media (max-width: 767px) {
    .timeline {
        margin: 30px 0 0 0;
        padding: 0;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 10px;
            background: grey;
            left: 6%;
            margin-left: -10px;
        }
    }
    .timeline-item {
        position: relative;
        display: block;
        margin-bottom: 5%;
        // padding-left: 15%;
    }

    .timeline-item-last {
        position: relative;
        display: block;
    }
    .timeline-time {
        display: inline-block;
        padding-left: 0 !important;
        span {
            margin-left: 10px;
            display: block;
            text-align: right;
            &:last-child {
                font-size: 2.9em;
                color: grey;
            }
        }
    }
    div.activity-message div.message-container div {
        display: block !important;
    }

    .author {
        margin-left: 5px;
        font-size: 18px;
        text-decoration: underline;
        font-weight: bold;
        display: inline-flex;
        width: 100%;
        font-family: "Mukta-Bold", sans-serif !important;
    }
    .activity-message {
        width: 95% !important;
        margin-left: 0 !important;
    }
    .time-line-add {
        display: block !important;
        height: 406px;
        .send-button {
            margin-left: 33%;
            margin-top: 27px;
            float: none !important;
        }
    }
    .middle-col {
        width: 95% !important;
    }
    .mat-dialog-actions:last-child {
        margin-top: 67px;
    }
    .timeline-time md-icon {
        width: 40px;
        height: 40px;
        font-size: 1.4em;
        position: absolute;
        color: #fff;
        background: black;
        border-radius: 50%;
        box-shadow: 0 0 0 8px #474747;
        text-align: center;
        left: 6%;
        top: 0;
        margin: 0 0 0 -25px;
        line-height: 40px;
        &:after {
            left: 46px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-left-color: #474747;
            border-width: 10px;
            top: 10px;
        }
    }
    textarea {
        width: 80%;
        height: 100px;
    }
}

