.top-table-buttons {
    display: flex;
    justify-content: space-between;
}
.chat-footer {
	padding: 5px;
	position: sticky;
	bottom: 0px;
	height: 60px;
	width: 100%;
	// border-bottom: 1px solid rgba(0,0,0,0.3);
	background-color: #fff;
}
.chat-message {
	background-color: #fff;
	text-overflow: clip !important;
	white-space: normal !important;
	min-height: 95px;
	&.item-block .item-inner {
	    border: none;
	}
	
}
.avatar-container {
	float: left;
    img {
        position: relative;
        top: 16px;
        left: 16px;
        width: 40px;
        height: 40px;
        border-radius: 19px;
    }
    letter-avatar {
        display: inline-block;
        width: 30px;
    }
}
.chat-wrapper {
	overflow-y: scroll;
	height: 77%;
	background-color: #fff;
	min-height: 521px;
}
.message-container {
	float: right;
    margin: 0 10px 0 23px;
    width: 81%;
    h2,
    h1,
    p {
        font-size: 14px;
        font-weight: bold;
        color: #000000;
        font-family: -apple-system, "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
    }
    h2 span,
    h1 span,
    p span {
        font-weight: normal;
        color: #ccc;
        right: 20px;
        float: right;
        font-size: 12px;
    }
    p {
        font-weight: normal;
        text-overflow: clip !important;
        white-space: pre-line !important;
    }
    img {
        max-width: 100%;
        max-height: 300px;
        margin-top: 5px;
    }
}
.messageHeader {
	display: flex;
	align-items: center;
	hr {
		flex: 1;
		margin-left: 10px;
		height: 1px !important;
	}
}
#messageContainer {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.messageContent {
	display: flex;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
}
.profilePicContainer {
	width: 38px;
	margin-right: 10px;
	
}
.userDateContainer {
	flex: 1;
	margin-bottom: 5px;
}
.username {
	font-weight: bold;
}
.avatar {
	width: 40px;
	height: 40px;
	border-radius: 19px;
}
.send-button {
	color: #fff;
	background: #2A314C;
	font-size: 15px;
	padding: 0 5px;
	font-weight: bold;
}
.send-text {
	width: 68%;
	height: 75px;
}
.empty-posts {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 45%;

	img {
		width: 75%;
		margin-bottom: 15px;
	}
}