<div class="right_col" role="main">
    <h2 class="thin">Chat Rooms</h2>
    <div class="top-table-buttons">
        <a class="close-link" (click)="RefreshChat()" style="font-size: 20px; float: right;">
            Refresh Rooms&nbsp;&nbsp;<i class="fa fa-refresh"></i>
        </a>
        <button md-raised-button (click)="SwitchNewChat()" style="float: right; color: #666 !important; margin-bottom: 10px">
            <md-icon>add</md-icon>New Chat
        </button>
    </div>
    <div style="background-color: #fff">
        <div *ngIf="(loading$ | async)" class="spinner-boundaries" style="width: 100%; height: 100%; align-items: center; justify-content: center; align-content: center; font-size: 40px" align="center">
            <md-spinner class="center-spinner medium-spinner"></md-spinner>
        </div>
        <div *ngIf="!(loading$ | async)" class="col-md-12 col-sm-12 col-xs-12" style="width: 49%; float: left">
            <div *ngFor="let rooms of (ChatRooms$ | async)">
                <div class="col-md-12 col-sm-12 col-xs-12" (click)="SelectChatRoom(rooms)" id="messageContainer">
                    <div class="messageHeader">
                        <p>{{ (rooms.lastMessage.date | date:'short') || "Time Error" }}</p>
                        <hr />
                    </div>

                    <div class="messageContent">
                        <div class="profilePicContainer">
                            <letter-avatar [text]="rooms.lastMessage.authour" [size]="40"></letter-avatar>
                        </div>

                        <div class="userDateContainer">
                            <div class="username">{{ rooms.lastMessage.authour }} <span *ngIf="rooms.users.length > 1"> (+ {{ (rooms.users.length - 1) }})</span></div>
                            <div class="messagePreview" *ngIf="IsLink(rooms.lastMessage.text)">{{ rooms.lastMessage.authour }} shared a link.</div>
                            <div class="messagePreview" *ngIf="!IsLink(rooms.lastMessage.text)">{{ rooms.lastMessage.text || 'Open chat room' }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="(ChatRooms$ | async).length === 0" class="empty-posts">
                <p>No Messages Yet</p>
            </div>
        </div>
        
        <div *ngIf="!(loading$ | async)" class="col-md-12 col-sm-12 col-xs-12" style="width: 48%; float: right; display: flex">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="upload-bar" *ngIf="IsUploading">
                    <img src="{{ UploadPreview }}" />
                    <div class="upload-container">
                        <p *ngIf="!IsUploadDone">Uploading your file... ({{ ProgressPercent }}%)</p>
                        <p *ngIf="IsUploadDone" class="upload-done lightgrey">{{ UploadStatus }}</p>
                        <div class="progress-bar">
                            <div class="progress-loader" [style.width.%]="ProgressPercent"></div>
                        </div>
                    </div>
                    <button class="cancel-upload" (click)="CancelImageUpload()">
                        <md-icon name="cancel"></md-icon>
                    </button>
                </div>
                <div class="chat-wrapper" *ngIf="(null != RoomID) && (RoomID !== '') && !IsNewChatRoom">
                    <div style="animation: 1.8s fadeInDown; animation-delay: 100ms" *ngFor="let message of (Messages$ | async)" class="chat-message">
                        <div class="avatar-container">
                            <letter-avatar [text]="message.authour" [size]="54"></letter-avatar>
                        </div>
                        <div class="message-container">
                            <h2>{{ message?.authour }}<span>{{ (message?.date | date:'short') || "Time Error" }}</span></h2>
                            <p *ngIf="(message.type === 'text')" id="message-text">{{ message.text }}</p>
                            <img (click)="OpenImage($event.target)" *ngIf="(message?.type === 'photo')" (click)="OpenFullImage(message?.text)" src="{{ message?.text }}" />
                        </div>
                    </div>
                </div>
                <div class="chat-wrapper" *ngIf="(((null != RoomID) && (RoomID === '')) || (null == RoomID)) && IsNewChatRoom">
                    <div class="full-width flex-center" style="display: inline-block;">
                        <button md-button style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%" (click)="AddStaffMember()">
                            Add Staff Member
                            <md-icon name="add"></md-icon>
                        </button>
                        <div *ngIf="(null != selectedStaff)" class="full-width">
                            <button (click)="RemoveStaff(staff)" md-button *ngFor="let staff of selectedStaff" class="full-width flex-center" style="border: 1px solid #666; padding: 10px; background: transparent" id="selectTenant">
                                {{ staff.name }}
                                <span style="margin-left: 20px; color: red; font-weight: bold">X</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="chat-footer" *ngIf="(null != RoomID) && (RoomID !== '') && !IsNewChatRoom">
                    <div>
                        <div>
                            <label for="cover-art" class="browse-button"><i class="fa fa-camera"></i></label>
                            <input style="display: none" accept=".png, .jpeg, .jpg" class="box__file" type="file" name="files[]" id="cover-art" data-multiple-caption="{ count } files selected" (change)="handleFileInput($event.target.files); readURL($event); $event.stopPropagation();" multiple />
                            <md-input-container class="send-text light-input items animated fadeInUp">
                                <input mdInput autocorrect="on" placeholder="Type in your message..." [(ngModel)]="TextMessage" />
                            </md-input-container>
                            <button md-raised-button (click)="SendText()" class="send-button">Send</button>
                        </div>
                    </div>
                </div>
                <div class="chat-footer" *ngIf="(((null != RoomID) && (RoomID === '')) || (null == RoomID)) && IsNewChatRoom">
                    <div>
                        <div>
                            <md-input-container class="send-text light-input items animated fadeInUp">
                                <input mdInput autocorrect="on" placeholder="Type in your message..." [(ngModel)]="TextMessage" />
                            </md-input-container>
                            <button md-raised-button (click)="StartChat()" class="send-button">Start Chat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>