/* You can add global styles to this file, and also import other style files */
// BG
// #F2F6FC
// Dark
// #2A314C
// Grey
// #BFBFBF
// Green
// #70AD47
// Blu
// #4472C4
// Highlight Nav
// #0C1224

// Shades
.modal-footer {
    display: inline-flex;
    justify-content: space-around;
}
.fade {
    opacity: 1 !important;
}
.viewer-in {
    z-index: 9999999999 !important;
}
.modal-backdrop {
    background-color: rgba(0,0,0, 0.4) !important;
}
.cdk-overlay-container {
    z-index: 9999999
}
.pac-container {
    box-shadow: 0 1px 4px rgba(0,0,0,.2) !important;
    // top: 300px !important;
    padding-bottom: 20px !important;
    z-index: 99999999;
    display: block;
}
.modal.fade .modal-dialog {
    transition: none !important;
    transform: none !important;
}
.modal {
    width: 400px !important;
}
.modal .modal-content {
   height: 100% !important;
   width: auto !important;
}
.modal-sm {
    width: auto !important;
height: 100% !important;
margin: 0px !important;
}
$grey-light: #a0a0a0;
$grey: #bfbfbf;
$grey-dark: #404040;
$black: #000;
$white: #fff;

// Tags
$silverbrick: #f2f6fc;
$dark: #2A314C;
$green: #70ad47;
$blue: #4472c4;
$navhigh: #0c1224;

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: hidden;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: hidden;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

.mat-dialog-title {
    font-size: 22px !important;
    color: #54687d !important;
}

.mat-dialog-title {
    padding: 0 24px !important;
}

.mat-dialog-actions {
}

.collapsible-control-header,
.collapsible-control-content {
    padding: 24px !important;
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

body {
    margin: 0;
}

h2 {
    border-bottom: 1px solid #2a353b;
    padding-bottom: 5px;
}

app-root,
app-dashboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

app-login,
app-entry {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 400px;
}

app-root,
app-login {
    background: #fff;
}
app-entry {
    background: #2A314C;
}

.use-pointer {
    cursor: pointer;
}

.mat-select-trigger {
    border: 1px solid !important;
}

.mat-select-underline {
    background-color: transparent !important;
}

.mat-select-value {
    font-family: "Mukta-Bold", sans-serif !important;
    font-size: 15px !important;
    left: 2% !important;
}

.dba-form {
    //width: 500px;
    max-width: 100%;
}

.error-text {
    font-weight: bold;
    color: #f53d3d;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 49%;
}

.tiny-filler {
    margin: 0 5px;
}

.table-header {
    font-style: bold;
    color: #fff;
    background-color: #2a353b;
}

button.mat-primary {
    color: #fff !important;
    background-color: #2A314C !important;
}

.table-row-left-border {
    vertical-align: top;
    border-left: 1px solid rgba(0, 0, 0, 0.317647);
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.collapsible-control-header {
    font-size: 20px !important;
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    background-color: rgba(0, 0, 0, 0.317647);
    color: white;
}

.collapsible-header,
.collapsible-content {
    padding: 0 0.5rem;
}



.margin-vcenter {
    margin: auto 0;
}

/* Loading styles */

#loadingScreen {
    width: 100%;
    height: 100%;
    background-color: #2A314C;
}
div.mat-input-wrapper div.mat-input-underline, .mat-input-underline, .mat-focused .mat-form-field-label {
    display: none !important;
    border: none !important;
}
.mat-input-element, input {
    border: 1px solid #ccc !important;
    outline: 0;
    padding: 10px !important;
    width: 100%;
    vertical-align: bottom;
}
.mat-input-placeholder-wrapper {
  position: absolute;
  left: 10px !important;
  top: -0.5em !important;
}

.modal .modal-content {
  padding: 24px;
  height: 100%;
  width: 100%;
}
.modal .show {
    opacity: 1 !important;
}
.modal .sm {
    width: auto;
padding: 30px;
height: 100%;
}
#loadingScreen {
    position: relative;
    background-color: #2A314C;
    left: 0;
    color: rgba(255, 255, 255, 0.56);
    text-align: center;
    line-height: 10;
    font-weight: 400;
    font-family: arial, sans-serif;
}

#loadingScreen .spinner {
    content: "";
    position: relative;
    height: 2px;
    background: #fff;
    top: 20%;
    left: 0;
    width: 100%;
    animation: 1.2s loading infinite;
    transform-origin: 100% 0;
}

@media (max-width: 767px) {
    .mat-dialog-container {
        max-width: 64vh !important;
    }
    app-root {
        #loadingScreen {
            padding-top: 30% !important;
        }
        .logo {
            position: relative;
            padding: 0px;
            text-align: center;
            img {
                max-width: 250px;
            }
        }
    }
}


@keyframes loading {
    50% {
        transform: scalex(0);
    }
    51% {
        transform: translatex(-100vw);
    }
}

#loadingScreen.animation-stop .spinner {
    animation-name: none;
}

.toastMessage {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
}

@media (min-width: 767px) {
    .table-full-width {
        margin-left: -15px;
        margin-right: -15px;
    }
    .table-responsive {
        overflow: visible;
        border: 1px solid rgba(0,0,0, 0.2);
    }
}

@media (max-width: 767px) {
    .mat-select-panel {
        max-width: 145px !important;
        opacity: 1 !important;
        min-width: calc(21% + 32px) !important;
        transform: scaleY(1) !important;
        top: 20% !important;
        position: relative !important;
        left: 183.35px !important;
    }
    .snackBarClass {
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
        max-width: 90% !important;
    }
    .cdk-overlay-pane {
        position: absolute !important;
        pointer-events: auto !important;
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
    }
    .x_content {
        overflow: scroll !important;
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
    }
}

// Mixins
@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin border-bottom-radius($e) {
    border-bottom-left-radius: $e;
    border-bottom-right-radius: $e;
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

@mixin box-shadow($e) {
    -webkit-box-shadow: $e;
    -moz-box-shadow: $e;
    box-shadow: $e;
}

@mixin breakpoint($class) {
    @if $class==small-phone-portrait {
        @media only screen and (max-width: 374px) and (min-width: 320px) {
            @content;
        }
    }
    @if $class==phone-portrait {
        @media only screen and (max-width: 479px) and (min-width: 375px) {
            @content;
        }
    } @else if $class==phone-landscape {
        @media only screen and (min-width: 480px) and (max-width: 767px) {
            @content;
        }
    } @else if $class==tablet {
        @media only screen and (min-width: 768px) and (max-width: 959px) {
            @content;
        }
    } @else if $class==iPhoneX {
        @media screen and (max-device-width: 375px) and (min-device-height: 800px) {
            @content;
        }
    } @else {
        @warn "Breakpoint mixin supports: phone-portrait, phone-landscape, tablet";
    }
}

