.cal-week-view {
    .cal-day-headers {
        display: flex;
        margin-bottom: 3px;
        border: 1px solid #e1e1e1;
        margin-left: 2px;
        margin-right: 2px;
    }

    .cal-day-headers .cal-header {
        flex: 1;
        text-align: center;
        padding: 5px;
    }

    .cal-day-headers .cal-header:not(:last-child) {
        border-right: 1px solid #e1e1e1;
    }

    .cal-day-headers .cal-header:hover,
    .cal-day-headers .cal-drag-over {
        background-color: #ededed;
    }

    .cal-day-headers span {
        font-weight: 400;
        opacity: 0.5;
    }

    .cal-events-row {
        position: relative;
        height: 33px;
    }

    .cal-event-container {
        display: inline-block;
        position: absolute;
    }

    .cal-event {
        padding: 0 10px;
        font-size: 12px;
        margin-left: 2px;
        margin-right: 2px;
        height: 30px;
        line-height: 30px;
    }

    .cal-draggable {
        cursor: move;
    }

    .cal-starts-within-week .cal-event {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .cal-ends-within-week .cal-event {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .cal-header.cal-today {
        background-color: #e8fde7;
    }

    .cal-header.cal-weekend span {
        color: #8b0000;
    }

    .cal-event,
    .cal-header {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
