<div class="right_col" role="main">
    <md-progress-bar *ngIf="(loading$ | async)" mode="indeterminate" style="position: absolute; top: 0px;width: 100% !important;"> </md-progress-bar>
    <h2 class="thin">One-Off Requests</h2>
    <div>
        

        <div class="top-table-buttons" *ngIf="IsAdmin">
            <div style="width:50%;">
                <search-dropdown 
                  style="min-width: 150px" *ngIf="((null != sessionData.user) && (sessionData.user.role !== 'Tenant'))"
                  [Placeholder]="'Filter by Staff'"
                  [ShowingPeople]="false"
                  [items]="(AllBuildings$ | async)" 
                  (afterChange)="ScopeTasks($event)"
                  [(ngModel)]="item">
                </search-dropdown>
               <!-- <md-select placeholder="Filter by building" class="select2-container--default" style="min-width: 150px" *ngIf="((null != sessionData.user) && (sessionData.user.role !== 'Tenant'))">
                    <md-option style="color: #000 !important;" *ngFor="let building of (AllBuildings$ | async)" [value]="building.id" (click)="ScopeTasks(building)"> {{ building.name }} </md-option>
                </md-select> -->
                <a class="close-link" (click)="RefreshTasks()" style="font-size: 20px; float: right;">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
            </div>
            <button *ngIf="IsNotLandlord" md-raised-button (click)="expandTask()" [disabled]="loading$ | async" style="float: right;"><md-icon>add</md-icon>Add Request</button>
        </div>
        <br>
       <!--  <div class="top-table-buttons">
            <button md-raised-button (click)="exportButtonHandler()" [disabled]="loading$ | async" style="float: right;"><md-icon>share</md-icon>Export List</button>
        </div>
        <br> -->
        <div *ngIf="loading$ | async">
            <md-spinner class="center-spinner medium-spinner"></md-spinner>
        </div>
        <div *ngIf="!((error$ | async) === null)  && !(loading$ | async)" class="error-text">
            {{(error$ | async)?.Message}}
        </div>
        <div class="white" *ngIf="((error$ | async) === null)">
            <div class="x_content">
                <table class="highlight table-full-width table-responsive" id="users-table">
                    <thead class="table-header" *ngIf="IsAdmin && ((null != (tasks$ | async)) && ((tasks$ | async).length === 0)) || (null == (tasks$ | async))">
                        <tr>
                            <td style="text-align: center;font-size: 28px;">No Tasks!</td>
                        </tr>
                    </thead>
                    <thead class="table-header" *ngIf="IsLandlord && ((null != (completedTasks$ | async)) && ((completedTasks$ | async).length === 0)) || (null == (completedTasks$ | async))">
                        <tr>
                            <td style="text-align: center;font-size: 28px;">No Tasks!</td>
                        </tr>
                    </thead>
                    <thead class="table-header">
                        <tr *ngIf="IsLandlord">
                            <td (click)="sortTable()" style="cursor: pointer;width: 200px;padding: 3%;">Subject</td>
                            <td>Building</td>
                            <td>Dates Complete</td>
                            <td>Last Updated</td>
                            <td>Scheduling</td>
                        </tr>
                    </thead>
                    <thead class="table-header" *ngIf="IsAdmin">
                        <tr>
                            <td (click)="sortTable()" style="cursor: pointer;width: 200px;padding: 3%;">Subject</td>
                            <td>Building</td>
                            <td>Status</td>
                            <td>Type</td>
                            <td>Last Updated</td>
                            <td>Assigned To:</td>
                            <td>Created</td>
                        </tr>
                    </thead>
                    <tbody *ngIf="IsAdmin && ((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                        <tr style="cursor: pointer;" *ngFor="let task of tasks$ | async" [ngClass]="(((null != task.updatedRole) && (task.updatedRole === 'Tenant'))) ? 'tenant-update' : ''">
                            <td (click)="expandTask(task)" style="width: 200px;padding: 3%;">
                                {{ task.subject }}<br>
                                <span style="font-size: 90%">By {{ task.authorName }}</span>
                                <md-icon style="font-size:10px;height:10px;width:10px" *ngIf="!(task?.active)">visibility_off</md-icon>
                            </td>
                            <td (click)="expandTask(task)">{{ task.buildingName }}</td>
                            <td (click)="expandTask(task)">{{ task.status }}</td>
                            <td (click)="expandTask(task)">
                                {{ task.category }}
                                
                            </td>
                            <td *ngIf="!task.scheduling" (click)="expandTask(task)">
                                On {{ (task.lastUpdated | date:'short') || "Time Error" }}<br>
                                By: {{ task.updateAuthor }} <span style="font-size: 80%;">({{ task.updatedRole }})</span><br />
                            </td>
                            <td><span *ngIf="(null != task.assignees)"><p *ngFor="let assignee of task.assignees">{{ assignee.name }}<br></p></span><br>
                            </td>
                            <td (click)="expandTask(task)">{{ (task.date | date:'short') || "Time Error" }}</td>
                        </tr>
                    </tbody>

                    <tbody *ngIf="IsLandlord && ((null != (completedTasks$ | async)) && ((completedTasks$ | async).length > 0))">
                        <tr style="cursor: pointer;" *ngFor="let task of completedTasks$ | async" [ngClass]="(((null != task.updatedRole) && (task.updatedRole === 'Tenant'))) ? 'tenant-update' : ''">
                            <td (click)="expandTask(task)" style="width: 200px;padding: 3%;">
                                {{ task.subject }}
                                <md-icon style="font-size:10px;height:10px;width:10px" *ngIf="!(task?.active)">visibility_off</md-icon>
                            </td>
                            <td (click)="expandTask(task)">{{ task.buildingName }}</td>
                            <td (click)="expandTask(task)">
                                <div  *ngIf="IsLandlord && ((null != task.completedDates) && (task.completedDates.length === 0)) || (null == task.completedDates)">
                                    <span>
                                        None
                                    </span>
                                </div>
                                <div *ngIf="(null != task.completedDates) && (task.completedDates.length > 0)">
                                    <span *ngFor="let day of task.completedDates">
                                        {{ GetYearMonthDay(day) }}<br>
                                    </span>
                                </div>
                            </td>
                            <td *ngIf="!task.scheduling" (click)="expandTask(task)">
                                On {{ (task.lastUpdated | date:'short') || "Time Error" }}<br>
                                By: {{ task.updateAuthor }} <span style="font-size: 80%;">({{ task.updatedRole }})</span><br />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="bottom-table-buttons">
            <div style="width:50%;">
                
            </div>
            <button *ngIf="IsNotLandlord" md-raised-button (click)="expandTask()" [disabled]="loading$ | async" style="float: right;"><md-icon>add</md-icon>Add Request</button>
        </div>
    </div>
</div>
