.fade {
    opacity: 1 !important;
}
/* Avoid unexpected behavior of Materialize `.modal` class */
.top-table-buttons {
    width: 100%;
    gap: 20px;
    display: inline-flex;
}
.nsm-content {
    margin: 0px !important;
    padding: 0px !important;
    height: 100%;
}
html body.nav-md div.cdk-overlay-container div#cdk-overlay-0.cdk-overlay-pane div.mat-select-panel.ng-trigger.ng-trigger-transformPanel.ng-tns-c10-5.mat-primary.mat-select-panel-done-animating div.mat-select-content.ng-trigger.ng-trigger-fadeInContent, .mat-select-content {
    display: inline-grid !important;
    white-space: nowrap !important;
    overflow-y: scroll !important;
}
.nsm-dialog {
    margin: 10% auto !important;
    max-width: 700px !important;
    width: 700px !important;
}
.modals {
    display: block;
    max-height: none;
}

.completed-task {
    text-decoration: line-through;
    text-decoration-color: #0db959;
    text-decoration-thickness: 2px;
}

.modals-content {
    padding: 0;

    .card {
        margin: 0;
    }
}

.modals-footer {
    width: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkbox {
    height: auto !important;
}
.checkbox i {
    color: #1dc7ea !important;
}

.no-padding {
    padding: 0 !important;
}

.go-back {
    margin-top: 10px;

    a {
        color: white;
    }
}
.top-table-buttons {
    position: relative;
    right: 0;
    padding: 25px;
}
.checkbox input[type="checkbox"]:disabled + label,
.radio input[type="radio"]:disabled + label,
.checkbox input[type="checkbox"]:disabled:checked + label::after {
    color: #1dc7ea;
}

.table-responsive {
    border: none !important;
}

.table-full-width {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.cal-alt-event {
    height: auto !important;
    word-wrap: break-word !important;
    white-space: normal !important;
}
.cal-events {
    line-height: 20px !important;
}
@media (max-width: 787px) {
    .calendar-header {
        flex-direction: column !important;
    }
}

@media(max-width: 767px) {
    #innerTop, search-dropdown {
        width: 100% !important;
    }
    .top-table-buttons{
        display: grid !important;
        justify-items: center;
    }
}
@media (min-width: 768px) {
    .title {
        width: 50% !important;
    }
}
.cal-day-view mwl-calendar-day-view-hour-segment,
.cal-day-view .cal-hour-segment, .cal-day-view mwl-calendar-day-view-hour-segment {
    height: 130px !important;
}

.cal-day-view .cal-draggable {
    width: 149px;
    display: contents;
    margin-left: 50px !important;
}
