<div class="card" *ngIf="!ListView">
    <div class="header calendar-header" style="display: flex; vertical-align: middle !important">
        <md-progress-bar *ngIf="(loading$ | async) || IsLoading" mode="indeterminate" style="position: absolute; top: 0px;width: 100% !important;"> </md-progress-bar>
        <h4 class="title" style="width: 100%; padding: 0px 10px">Job Calendar</h4>
        <!--       <button *ngIf="IsAdmin" (click)="RecurringTask()" class="btn btn-fill btn-md" style="float: right; margin: 10px; border: 1px solid rgba(0,0,0,0.4) !important;">
            New Recurring Task
        </button> -->
        <p class="category"></p>
        <div class="top-table-buttons" *ngIf="IsAdmin">
            <div id="innerTop" style="width: 35%; margin-right: 0px; display: grid; justify-items: center">
                <search-dropdown 
                  [ShowingPeople]="true"
                  [Placeholder]="'Filter by Property'"
                  [items]="(users$| async)" 
                  (afterChange)="ScopeTasks($event)"
                  [(ngModel)]="item">
                </search-dropdown>
            <!--     <md-select
                    placeholder="Filter by staff"
                    class="select2-container--default"
                    style="min-width: 150px; float: right"
                    *ngIf="(null != sessionData.user)"
                    [disabled]="(loading$ | async) || IsLoading">
                    <md-option
                        style="color: #000 !important"
                        *ngFor="let user of (users$ | async)"
                        [value]="user.uid"
                        (click)="ScopeTasks(user)">
                        <div
                            style="
                                display: inline-flex;
                                align-content: center;
                                align-items: center;
                                width: 100%;
                                height: auto;
                            ">
                            <letter-avatar
                                [text]="user.firstName + ' ' + user.lastName"
                                [background]="user.calendarColor"
                                [fontColor]="user.calendarTextColor"
                                [size]="25"
                                style="margin-right: 6px"></letter-avatar>
                            {{ user.firstName }} {{ user.lastName }}
                        </div>
                         <span *ngIf="(null != user.todayTaskCount) && (user.firstName !== 'All')"> ( {{ user.todayTaskCount }} ) </span>
                    </md-option> </md-select> -->
                    <br />
                <span
                    *ngIf="(null != (selectedStaff$| async)) && (null != sessionData.user)"
                    style="display: inline-flex; align-content: center; align-items: center; margin-top: 20px">
                    Selected:
                    <letter-avatar
                        [text]="(selectedStaff$ | async).firstName + ' ' + (selectedStaff$ | async).lastName"
                        [background]="(selectedStaff$ | async).calendarColor"
                        [fontColor]="(selectedStaff$ | async).calendarTextColor"
                        [size]="25"
                        style="margin-right: 6px; margin-left: 6px"></letter-avatar
                    >{{ (selectedStaff$ | async).firstName }} {{ (selectedStaff$ | async).lastName }}
                </span>
            </div>
            <div id="innerTop" style="width: 35%">
                <search-dropdown 
                  [Placeholder]="'Filter by Staff'"
                  [ShowingPeople]="false"
                  [items]="(AllBuildings$ | async)" 
                  (afterChange)="ScopeBuildingTasks($event)"
                  [(ngModel)]="item">
                </search-dropdown>
               <!--  <md-select
                    placeholder="Filter by building"
                    class="select2-container--default"
                    style="min-width: 150px"
                    *ngIf="(null != sessionData.user)"
                    [disabled]="(loading$ | async) || IsLoading">
                    <md-option
                        style="color: #000 !important"
                        *ngFor="let building of (AllBuildings$ | async)"
                        [value]="building.id"
                        (click)="ScopeBuildingTasks(building)">
                        {{ building.name }}
                    </md-option>
                </md-select> -->
            </div>
            <a class="close-link" (click)="RefreshRecurringTasks()" style="font-size: 20px; float: right; width: 23%"
                >Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i
            ></a>
            <div class="clearfix"></div>
        </div>
    </div>

    <div *ngIf="(loading$ | async) || IsLoading">
        <md-spinner style="font-size: 14px !important;" class="center-spinner medium-spinner"></md-spinner>
    </div>
<!-- 
    <div *ngIf="ShowingMap && (view === 'day')" class="content table-responsive table-full-width">
        <div style="display: inline-flex;width: 95%;height: auto;justify-content: space-around;border: 1px solid #ccc;padding: 10px;align-items: center;  margin: 10px;">
            <md-input-container style="width: 50%;padding: 0;" class="full-width">
                <input [(ngModel)]="searchRef" mdInput placeholder="Search" (keyup)="SearchTasks($event.target.value)" type="text" name="text" autofocus />
            </md-input-container>
            <md-select [ngModel]="(searchType$ | async)" placeholder="Search Type" class="select2-container--default" style="min-width: 150px">
                <md-option style="color: #000 !important;" value="Staff" (click)="ChangeSearch('Staff')"> Staff </md-option>
                <md-option style="color: #000 !important;" value="Property" (click)="ChangeSearch('Property')"> Property </md-option>
            </md-select>
        </div>
        <mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate" [(ShowingMap)]="ShowingMap" (viewDateChange)="onDateChanged($event)" (viewChange)="ViewChange($event)" (switchMap)="SwitchMap($event)">
        </mwl-demo-utils-calendar-header>
        <ng2-map zoom="14" center="'68 4th St, Brooklyn, NY'" mapTypeControl="true" scaleControl="true" rotateControl="true"  fullscreenControl="true">
            <marker *ngFor="let event of (mapEvents$ | async)" (click)="((null != event.task) ? RecurringTask(event.task, day) : RecurringTask(null, day))" [position]="GetBuildingName(event.task)" [title]="event.title"> </marker>
        </ng2-map>
    </div>
 -->
    <!-- <div *ngIf="!ShowingMap" class="content table-responsive table-full-width" > -->
    <div class="content table-responsive table-full-width">
        <div
            style="
                display: inline-flex;
                width: 95%;
                height: auto;
                justify-content: space-around;
                border: 1px solid #ccc;
                padding: 10px;
                align-items: center;
                margin: 10px;
            ">
            <md-input-container style="width: 50%; padding: 0" class="full-width">
                <input
                    [(ngModel)]="searchRef"
                    mdInput
                    placeholder="Search"
                    (keyup)="SearchTasks($event.target.value)"
                    type="text"
                    name="text"
                    autofocus />
            </md-input-container>
            <md-select
                [ngModel]="(searchType$ | async)"
                placeholder="Search Type"
                class="select2-container--default"
                style="min-width: 150px"
                [disabled]="(loading$ | async) || IsLoading">
                <md-option style="color: #000 !important" value="Staff" (click)="ChangeSearch('Staff')">
                    Staff
                </md-option>
                <md-option style="color: #000 !important" value="Property" (click)="ChangeSearch('Property')">
                    Property
                </md-option>
            </md-select>
        </div>
        <mwl-demo-utils-calendar-header
            [(view)]="view"
            [(viewDate)]="viewDate"
            [(ShowingMap)]="ShowingMap"
            (viewDateChange)="ViewChange($event)"
            (viewChange)="ViewChange($event)"
            (switchMap)="SwitchMap($event)">
        </mwl-demo-utils-calendar-header>
        <ng-template #customCellTemplate let-day="day" let-locale="locale">
            <div class="cal-cell-top">
                <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
                <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
            </div>
            <div class="cal-events">
                <div
                    *ngFor="let event of day.events"
                    class="cal-alt-event"
                    [style.backgroundColor]="event.color.primary"
                    [style.color]="event.color.secondary"
                    [mwlCalendarTooltip]="event.title"
                    [draggable]="event.task.recurring"
                    [ngClass]="((null != event.task.status) && IsCompleted(event.task, day)) ? 'completed-task' : ''">
                    <div (click)="((null != event.task) ? RecurringTask(event.task, day) : RecurringTask(null, day))">
                        {{ event.displayTitle }}
                    </div>

                    <i
                        (click)="((null != event.task) ? RecurringTask(event.task, day) : RecurringTask(null, day))"
                        style="color: #ccc !important; margin-right: 5px"
                        alt="View Details"
                        class="fa fa-fw fa-pencil"></i
                    ><br />
                    <i
                        (click)="(handleEvent('Assign', event))"
                        alt="Re-Assign Task"
                        style="color: #ccc !important"
                        class="fa fa-fw fa-gear"></i>
                </div>
            </div>
        </ng-template>
        <div [ngSwitch]="view">
            <mwl-calendar-month-view
                *ngSwitchCase="'month'"
                [viewDate]="viewDate"
                [events]="allEvents"
                [refresh]="refresh"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="(handleEvent('Clicked', $event.action))"
                (eventTimesChanged)="eventTimesChanged($event)"
                [cellTemplate]="customCellTemplate">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
                *ngSwitchCase="'week'"
                [viewDate]="viewDate"
                [events]="allEvents"
                (eventTimesChanged)="eventTimesChanged($event)"
                (beforeViewRender)="updateCalendarEvents($event)">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
                *ngSwitchCase="'day'"
                [hourSegmentHeight]="130"
                (beforeViewRender)="updateCalendarEvents($event)"
                [viewDate]="viewDate"
                [events]="allEvents">
            </mwl-calendar-day-view>
        </div>
        <mwl-demo-utils-calendar-header
            [(view)]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="ViewChange($event)"
            (viewChange)="ViewChange($event)">
        </mwl-demo-utils-calendar-header>
    </div>
    <ng-template #modalContent let-close="close">
        <div class="modal-header">
            <h5 class="modal-title">Re-assign {{ SelectedTask.subject }}</h5>
            <button type="button" class="close" (click)="close();">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div></div>
            <div>
                <button
                    md-button
                    style="border: 1px dashed #666; padding: 10px; margin-bottom: 10px; width: 100%"
                    (click)="AddStaffMember()">
                    Add Staff Member
                    <md-icon name="add"></md-icon>
                </button>
            </div>
            <div *ngIf="(null != selectedStaff)" class="full-width">
                <button
                    (click)="RemoveStaff(staff)"
                    md-button
                    *ngFor="let staff of selectedStaff"
                    class="full-width flex-center"
                    style="border: 1px solid #666; padding: 10px; background: transparent"
                    id="selectTenant">
                    {{ staff.name }}
                    <span style="margin-left: 20px; color: red; font-weight: bold">X</span>
                </button>
            </div>
        </div>
        <div class="modal-footer">
            <button
                style="border: 1px solid #666; margin-bottom: 10px; width: 40%; border-radius: 25px"
                (click)="close()"
                md-button>
                Cancel
            </button>

            <button
                style="border: 1px solid #666; margin-bottom: 10px; width: 40%; border-radius: 25px"
                (click)="AssignRecurringTask()"
                md-button>
                Save Assignees
            </button>
        </div>
    </ng-template>
</div>
