.logo {
	top: 36%;
	position: absolute;
	left: 0;
	width: 100%;
	min-height: 200px;
	
	img {
		max-width: 450px;
	}
}
.loading-text {
	color: #a0a0a0;
	text-align: center;
}

@media (max-width: 767px) {
	.loadingScreen {
		padding-top: 30% !important;
	}
	.logo {
		position: relative;
		padding: 0px;
		text-align: center;
		img {
			max-width: 250px;
		}
	}
}
