<div class="loadingScreen" style="height: 100%; padding-top: 16%; overflow-x: hidden;">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12" style="width: 100% !important;">
		<div style="background-color: #2A314C;">
			<div class="logo">
				<div align="center">
					<img logo style="animation: 1.8s fadeIn;animation-delay: 100ms;" src="assets/img/title-white.png" alt="SilverBrick Dashboard" />
				</div>
			</div>
			<!-- <div class="spinner"></div> -->
		</div>
	</div>
</div>