@font-face {
    font-family: 'Mukta-Light';
    font-weight: 100;
    src: url('../assets/fonts/Mukta-Light.ttf') format('truetype'),
    url('../assets/fonts/Mukta-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Mukta-Regular';
    font-weight: 300;
    src: url('../assets/fonts/Mukta-Regular.ttf') format('truetype'),
    url('../assets/fonts/Mukta-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mukta-Bold';
    font-weight: 600;
    src: url('../assets/fonts/Mukta-Bold.ttf') format('truetype'),
    url('../assets/fonts/Mukta-Bold.ttf') format('truetype');
}