<div class="tenant-view">
    <p md-dialog-title>
        {{ bldgDetailTitle }}
        <md-progress-bar
            *ngIf="(orgState$ | async)?.loading"
            mode="indeterminate">
        </md-progress-bar>
    </p>

    <md-dialog-content>
        <form class="dba-form" [formGroup]="bldgForm">
            <collapsible-control [collapseState]="1">
                <div class="collapsible-control-header">
                    Building Information
                </div>
                <br>
                <div class="collapsible-control-content">
                    <div formGroupName="info">
                        <div class="full-width flex-center">
                            <md-input-container class="full-width">
                                <input formControlName="name" id="pac-input" mdInput placeholder="Name" (keyup)="AutoComplete($event.target.value)" type="text" name="text" autofocus />
                                <!-- <input mdInput placeholder="Name" type="text" formControlName="name"> -->
                            </md-input-container>
                            <span class="tiny-filler"></span>
                            <md-input-container class="full-width">
                                <input mdInput placeholder="Phone" type="keypad" formControlName="phone">
                            </md-input-container>
                        </div>

                        <div class="full-width flex-center">
                            <md-select formControlName="type" class="full-width">
                                <md-option 
                                *ngFor="let type of propertyTypes" 
                                [value]="type"
                                (click)="onPropertyChange(type)"
                                >
                                    {{ type }}
                                </md-option>
                            </md-select>
                        </div>
                        <div formGroupName="address">
                            <label>
                                Address
                            </label>
                            <div class="full-width flex-center">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="Address Line 1" type="text" formControlName="line1">
                                </md-input-container>
                                <span class="tiny-filler"></span>
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="Address Line 2" type="text" formControlName="line2">
                                </md-input-container>
                            </div>
                            <div class="full-width flex-center">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="City" type="text" formControlName="city">
                                </md-input-container>
                                <span class="tiny-filler"></span>
                                <md-select formControlName="state" class="full-width">
                                    <md-option 
                                    *ngFor="let state of stateList" 
                                    [value]="state"
                                    (click)="onStateChange(state)"
                                    >
                                        {{ state }}
                                    </md-option>
                                </md-select>
                            </div>
                            <div class="full-width flex-center">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="Zip" type="keypad" formControlName="zip">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div formGroupName="config">
                        <label>
                            Building Configurations
                        </label>
                        <div class="full-width flex-center" style="flex-direction:column;">
                            <md-slide-toggle formControlName="isEmailSendingEnabled">Email Access Enabled?</md-slide-toggle>
                        </div>
                        <div class="full-width flex-center" style="flex-direction:column;">
                            <md-slide-toggle formControlName="isSMSSendingEnabled">SMS Access Enabled?</md-slide-toggle>
                        </div>
                        <label *ngIf="!isNewBuilding">
                            Property Code
                        </label>
                        <md-input-container *ngIf="!isNewBuilding" class="full-width">
                            <input mdInput type="text" formControlName="propertyCodes" disabled="true">
                        </md-input-container>
                    </div>
                </div>
            </collapsible-control>
        </form>
    </md-dialog-content>

    <md-dialog-actions style="display:flex; justify-content: space-between;">
        <div>
            <button md-button color="primary" (click)="buildingUsers()" *ngIf="!isNewBuilding" [disabled]="(orgState$ | async)?.loading">BUILDING USERS</button>
        </div>
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="closeAction()">CLOSE</button>
            <button md-raised-button color="primary" (click)="saveAction()">SAVE</button>
        </div>
    </md-dialog-actions>
</div>