<div class="right_col" role="main">
    <md-progress-bar *ngIf="(loading$ | async)" mode="indeterminate" style="position: absolute; top: 0px;width: 100% !important;"> </md-progress-bar>
    <h2 class="thin">Staff Management</h2>
    <div>
        

        <div class="top-table-buttons">
            <div style="width:50%;">
                <a class="close-link" (click)="RefreshStaff()" style="font-size: 20px; float: left;">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
            </div>
            <button md-raised-button (click)="expandUser()" [disabled]="loading$ | async" style="float: right;"><md-icon>add</md-icon>Add Staff Member</button>
        </div>
        <br>
       <!--  <div class="top-table-buttons">
            <button md-raised-button (click)="exportButtonHandler()" [disabled]="loading$ | async" style="float: right;"><md-icon>share</md-icon>Export List</button>
        </div>
        <br> -->
        <div *ngIf="loading$ | async">
            <md-spinner class="center-spinner medium-spinner"></md-spinner>
        </div>
        <div *ngIf="!((error$ | async) === null)  && !(loading$ | async)" class="error-text">
            {{(error$ | async)?.Message}}
        </div>
        <div class="white" *ngIf="((error$ | async) === null)">
            <div class="x_content">
                <table class="highlight table-full-width table-responsive" id="users-table">
                    <thead class="table-header">
                        <tr>
                            <td></td>
                            <td (click)="sortTable()" style="cursor: pointer;">Full Name &nbsp;<i class="fa fa-arrow-down"></i></td>
                            <td>Email</td>
                            <td>Admin?</td>
                            <td>Device Type</td>
                            <td>Building</td>
                            <td style="cursor: pointer;" (click)="sortActivity()">Last Activity &nbsp;<i class="fa fa-arrow-down"></i></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users$ | async">
                            <td class="use-pointer center-align" (click)="expandUser(user)">
                                <letter-avatar [text]="GetName(user)" [background]="(null != user.calendarColor) ? user.calendarColor : null" [fontColor]="(null != user.calendarTextColor) ? user.calendarTextColor : null" [size]="54"></letter-avatar>
                            </td>
                            <td (click)="expandUser(user)">
                                {{ user.firstName }} {{ user.lastName }}
                                <md-icon style="font-size:10px;height:10px;width:10px" *ngIf="!(user?.isActive)">visibility_off</md-icon>
                            </td>
                            <td (click)="expandUser(user)">{{ user.email }}</td>
                            <td (click)="expandUser(user)">{{ user.isAdmin }}</td>
                            <td [ngClass]="user.osType ? '' : 'no-token'">{{ ((null != user.osType) && (user.osType !== '')) ? user.osType : 'N/A' }}</td>
                            <td (click)="expandUser(user)">{{ GetBuilding(user.orgs) }}</td>
                            <!-- <td>{{ user.uid }}</td> -->
                            <td *ngIf="(null != user.lastActivity)">{{ (null != user.lastActivity) ? ((user.lastActivity | date:'short') || "Time Error") : 'N/A' }}</td>
                            <td *ngIf="(null == user.lastActivity)" style="color: red; cursor: pointer; font-weight: bold;">None <span (click)="SendInvite(user)">Re-send Invite?</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="bottom-table-buttons">
            <div style="width:50%;">
                
            </div>
            <button md-raised-button (click)="expandUser()" [disabled]="loading$ | async" style="float: right;"><md-icon>add</md-icon>Add Staff Member</button>
        </div>
    </div>
</div>
