<div class="tenant-view">
    <p md-dialog-title>
        {{userDetailTitle}}
        <md-progress-bar
            *ngIf="(userState$ | async)?.loading"
            mode="indeterminate">
        </md-progress-bar>
    </p>

    <md-dialog-content>
        <form class="dba-form" [formGroup]="userForm">
            <collapsible-control [collapseState]="1">
                <div class="collapsible-control-header">
                    User Information
                </div>
                <div class="collapsible-control-content">
                    <br>
                    <div class="full-width flex-center">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="First name" type="text" formControlName="firstName">
                        </md-input-container>
                        <span class="tiny-filler"></span>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Last Name" type="text" formControlName="lastName">
                        </md-input-container>
                    </div>

                    <div class="full-width flex-center">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Phone" type="text" formControlName="phone">
                        </md-input-container>
                        <span class="tiny-filler"></span>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Email" type="text" formControlName="email" required>
                        </md-input-container>
                    </div>

                    <div class="full-width flex-center">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Role" type="text" formControlName="role" disabled>
                        </md-input-container>
                        <span class="tiny-filler"></span>
                    
                    </div>

                    <br>
                    <label>
                        Calendar Background Color
                    </label>
                    <div class="full-width flex-center" style="justify-content: left;">
                        <input class="colorPicker" *ngIf="null != user" value="{{calendarColor}}" [cpPosition]="bottom" [(colorPicker)]="calendarColor" [cpAlphaChannel]="disabled" [style.background]="calendarColor"/>
                    </div>
                    <br>
                    <label>
                        Calendar Text Color
                    </label>
                    <div class="full-width flex-center" style="justify-content: left;">
                        <input class="colorPicker" *ngIf="null != user" value="{{calendarTextColor}}" [cpPosition]="bottom" [(colorPicker)]="calendarTextColor" [cpAlphaChannel]="disabled" [style.background]="calendarTextColor"/>
                    </div>
                    <br>
                    <label>
                        Special permissions
                    </label>
                    <div class="full-width flex-center" style="flex-direction:column;">
                        <md-slide-toggle formControlName="isAdmin">Admin Access?</md-slide-toggle>
                    </div>
                </div>
            </collapsible-control>
            <br>

            <collapsible-control [collapseState]="1">
                    <div class="collapsible-control-header">
                        Property Permissions
                    </div>
                    <div class="collapsible-control-content">
                        <table class="full-width" cellspacing="0" formGroupName="orgs">
                            <thead style="border:none;">
                                <tr>
                                    <td>
                                        <br>
                                        <md-select class="full-width" placeholder="Property" formControlName="id">
                                            <md-option 
                                                *ngFor="let org of orgs; let i = index;" 
                                                [value]="org.id" 
                                                (click)="onOrgChange({id: org.id, index: i})">
                                                {{ org.name }}
                                            </md-option>
                                        </md-select>
                                    </td>
                                    <td class="center-align">
                                        Admin?<br><br>
                                        <md-checkbox formControlName="isAdmin"></md-checkbox>
                                    </td>
                                </tr>
                            </thead>
                            <tbody formArrayName="buildings">
                                <tr>
                                    <td class="center-align" colspan="3" style="padding:15px 5px 0px 5px;">
                                        <label>
                                            Selected Buildings
                                        </label>
                                    </td>
                                </tr>
                                <tr *ngFor="let building of userFormBuildings.controls; let i = index;" [formGroupName]="i">
                                    <td style="display: flex;">
                                        <md-icon color="warn" class="use-pointer" (click)="removeBuilding({id: building.value.id, index: i})">remove_circle</md-icon>
                                        <md-input-container class="full-width tight">
                                            <input mdInput type="text" disabled value="{{ getBuildingNameFromId(building.value.id) }}">
                                        </md-input-container>
                                        <input hidden formControlName="id">
                                    </td>
                                    <td class="center-align">
                                        <md-checkbox formControlName="isAdmin"></md-checkbox>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center-align" colspan="3">
                                        <label>
                                            Unselected Buildings
                                        </label>
                                    </td>
                                </tr>
                                <tr *ngFor="let building of selectedOrgBuildings; let i = index;">
                                    <td>
                                        <md-icon color="primary" class="use-pointer" (click)="addBuilding({id: building.id, index: i})">add_circle</md-icon>
                                        <md-input-container class="full-width tight">
                                            <input mdInput type="text" disabled value="{{ building.name || building }}">
                                        </md-input-container>
                                    </td>
                                    <td class="center-align">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <br>
                </div>
            </collapsible-control>
        </form>
    </md-dialog-content>

    <md-dialog-actions style="display:flex; justify-content: space-between;">
    <!--     <div>
            <button md-button color="primary" (click)="deactivateAction()" *ngIf="user && user?.isActive && showExtras">DEACTIVATE</button>
            <button md-raised-button color="primary" (click)="activateAction()" *ngIf="user && !user?.isActive && showExtras">ACTIVATE</button>
        </div> -->
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="closeAction()">CLOSE</button>
            <span class="tiny-filler" *ngIf="!user"></span>
            <button md-raised-button color="primary" (click)="saveAction()" *ngIf="!user" [disabled]="userForm.invalid || (userState$ | async)?.loading">SAVE</button>
            <button md-raised-button color="primary" (click)="saveAction()" *ngIf="user" [disabled]="userForm.invalid || (userState$ | async)?.loading">UPDATE</button>
        </div>
        <br>
        <div>
            <button md-button style="background-color: #f53d3d; color: #fff !important;" (click)="deleteAction()" *ngIf="user && showExtras">DELETE</button>
        </div>
    </md-dialog-actions>
</div>