<div class="tenant-view">
    <p md-dialog-title>
        {{RequestsTitle}}
        <md-progress-bar
            *ngIf="(loading$ | async)"
            mode="indeterminate">
        </md-progress-bar>
    </p>
    <md-dialog-actions style="display:flex; justify-content: space-between;">
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="Dismiss()">CANCEL</button>
        </div>
    </md-dialog-actions>
    <md-dialog-content>
        <div class="collapsible-control-content">
            <div>
               <!--  <div *ngIf="loading$ | async">
                    <md-spinner class="center-spinner medium-spinner"></md-spinner>
                </div> -->
                <div *ngIf="!((error$ | async) === null)  && !(loading$ | async)" class="error-text">
                    {{(error$ | async)?.Message}}
                </div>
                <div class="white" *ngIf="((error$ | async) === null)">
                    <div class="x_content">
                        <md-input-container class="full-width" *ngIf="!LandlordSearch">
                            <input [(ngModel)]="searchRef" mdInput placeholder="Search" (input)="SearchUsers($event.target.value)" type="text" name="text" autofocus />
                        </md-input-container>
                        <table class="highlight">
                            <thead *ngIf="SearchingStaff" class="table-header">
                                <tr>
                                    <td>Name</td>
                                    <td>Email</td>
                                    <td>Role</td>
                                    <td>Last Activity</td>
                                </tr>
                            </thead>
                            <tbody *ngIf="SearchingStaff">
                                <tr (click)="chooseStaff(user)" *ngFor="let user of staffUsers$ | async" style="cursor: pointer;">
                                    <td>
                                        {{ user.firstName }} {{ user.lastName }}
                                    </td>
                                    <td>
                                       {{ user.email }}
                                    </td>
                                    <td>{{ user.role }}</td>
                                    <td>{{ (null != user.lastActivity) ? ((user.lastActivity | date:'short') || "Time Error") : 'N/A' }}</td>
                                </tr>
                            </tbody>
                            <thead *ngIf="SearchingTenant" class="table-header">
                                <tr>
                                    <td>Name</td>
                                    <td>Email</td>
                                    <td>Building</td>
                                    <td>Last Activity</td>
                                </tr>
                            </thead>
                            <tbody *ngIf="SearchingTenant">
                                <tr (click)="chooseTenant(user)" *ngFor="let user of tenants$ | async">
                                    <td>
                                        {{ user.firstName }} {{ user.lastName }}
                                    </td>
                                    <td>
                                       {{ user.email }}
                                    </td>
                                    <td>{{ GetBuilding(user.orgs) }}</td>
                                    <td>{{ (null != user.lastActivity) ? ((user.lastActivity | date:'short') || "Time Error") : 'N/A' }}</td>
                                </tr>
                            </tbody>
                            <thead *ngIf="SearchingBuildings" class="table-header">
                                <tr>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody *ngIf="SearchingBuildings">
                                <tr (click)="chooseBuilding(bldg)" *ngFor="let bldg of AllBuildings$ | async">
                                    <td>
                                        {{ bldg.name }}
                                    </td>
                                </tr>
                            </tbody>
                            <thead *ngIf="LandlordSearch" class="table-header">
                                <tr>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody *ngIf="LandlordSearch">
                                <tr (click)="chooseBuilding(bldg)" *ngFor="let bldg of sessionData.user.orgs.buildings">
                                    <td>
                                        {{ bldg.name }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions style="display:flex; justify-content: space-between;">
        <div style="display:flex; justify-content: flex-end;">
            <button md-button (click)="Dismiss()">CLOSE</button>
        </div>
    </md-dialog-actions>
</div>