<div md-dialog-title>
    {{Title}}
</div>
<md-dialog-content>
    <div>
        {{Message}}
    </div>
    <div *ngIf="IsInputting">
        <md-input-container style="margin-left: 2%;" class="full-width">
            <input mdInput id="InputEmail" placeholder="Email" type="email" name="InputEmail" [(ngModel)]="InputEmail" required>
        </md-input-container>
    </div>
    <div *ngIf="IsAssigning">
        <md-input-container style="margin-left: 2%;" class="full-width">
            <input mdInput id="AssignMessage" placeholder="Message for assignee(s)" type="text" name="AssignMessage" [(ngModel)]="AssignMessage" required>
        </md-input-container>
    </div>
    <div *ngIf="IsRescheduling">
        <md-input-container>
            <input (change)="onDateSelect($event.target.value)" mdInput [mdDatepicker]="picker" [(ngModel)]="SelectedDate" />
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
    </div>
</md-dialog-content>

<md-dialog-actions style="display:flex; justify-content: flex-end;">
    <button class="generic-button" (click)="cancelAction()" style="background-color: #fff; color: #5a5959;">
        {{CancelString}}
    </button>
    <span style="margin-left:5px; margin-right:5px;"></span>
    <button class="generic-button" (click)="okAction()">
        {{OkString}}
    </button>
</md-dialog-actions>