<div class="right_col" role="main">
    <md-progress-bar *ngIf="(loading$ | async)" mode="indeterminate" style="position: absolute; top: 0px;width: 100% !important;"> </md-progress-bar>
    <h2 class="thin">Org/Property Management</h2>
    <div>
        <div class="top-table-buttons" style="display: flex;">
            <button md-raised-button (click)="newOrg()" [disabled]="loading$ | async" alt="New Org"><md-icon>add</md-icon>New Org</button>
            <md-input-container  appearance="none" class="full-width" style="max-width: 70%;">
                <input  appearance="none" [(ngModel)]="searchRef" mdInput placeholder="Search" (input)="SearchOrgs($event.target.value)" type="text" name="text" autofocus />
            </md-input-container>
            <a class="close-link" (click)="RefreshOrgs()" style="font-size: 20px; float: right;">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
        </div>
        
        <br>
        <div *ngIf="loading$ | async">
            <md-spinner class="center-spinner medium-spinner"></md-spinner>
        </div>

        <div *ngIf="!((error$ | async) === null)  && !(loading$ | async)" class="error-text">
            {{(error$ | async)?.Message}}
        </div>

        <div class="white" *ngIf="((error$ | async) === null)">
            <div class="x_content">
                <table class="table-full-width table-responsive">
                    <thead class="table-header">
                        <tr>
                            <td></td>
                            <td class="center-align">Org Name</td>
                            <td class="center-align">Building & Options</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let org of (allOrgs$ | async)" style="border-bottom: 1px solid rgba(0, 0, 0, 0.317647);">
                            <td style="vertical-align: top;" class="center-align">
                                <button md-raised-button (click)="expandOrg(org)" [disabled]="(loading$ | async)">
                                    <md-icon>open_in_new</md-icon>
                                </button>
                                <br><br>
                                <button md-raised-button (click)="buildingAction(org.id)" [disabled]="(loading$ | async)">  <md-icon>add</md-icon>
                                </button>
                            </td>
                            <td style="vertical-align: top;" class="center-align">
                                <span (click)="expandOrg(org)"> {{ org.name }}</span>
                                <br>
                                <br>
                                <br>
                                <span (click)="buildingAction(org.id)">Add Building</span>
                            </td>
                            <td class="table-row-left-border">
                            <collapsible-control *ngIf="((error$ | async) === null)  &&  !(loading$ | async) && (null != org.buildings) && orgHasBuildings(org)" [collapseState]="hasBuildings">
                                <div class="collapsible-control-header">
                                    {{ org.name }} 's Buildings
                                </div>
                                <div class="collapsible-control-content">
                                    <table class="center-align">
                                        <tr *ngFor="let building of org.buildings">
                                            <td style="vertical-align: top;">
                                                <button md-raised-button (click)="expandBldg(building, org.id)" [disabled]="(loading$ | async)">
                                                    <md-icon>open_in_new</md-icon>
                                                </button>
                                            </td>
                                            <td (click)="expandBldg(building, org.id)">
                                                <h4>{{ building.name }}</h4>
                                                <div *ngIf="(null != building.landlords) && (building.landlords.length > 0)">
                                                    <span style="text-decoration: underline; font-weight: bold;">Owners:</span>
                                                    <div style="display: block;" *ngFor="let landlord of building.landlords">
                                                        Name: {{ landlord.firstName }} {{ landlord.lastName }}<br>
                                                        Email: {{ landlord?.email }}<br>
                                                        Phone: {{ landlord?.phone }}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button md-raised-button (click)="buildingUsers(building, org.id)" style="float: right;"><md-icon>people</md-icon>See Users</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </collapsible-control>
                            <span *ngIf="((error$ | async) === null)  &&  !(loading$ | async) && (null != org.buildings) && !orgHasBuildings(org)">No Buildings Yet</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>
    </div>
</div>