.top-table-buttons {
    display: flex;
    justify-content: space-between;
}
div.mat-input-wrapper div.mat-input-underline, .mat-input-underline, .mat-focused .mat-form-field-label {
    display: none !important;
    border: none !important;
}
.mat-input-element, input {
    border: 1px solid #ccc;
    outline: 0;
    padding: 10px;
    width: 100%;
    vertical-align: bottom;
}