.top-table-buttons {
    display: flex;
    justify-content: space-between;
}

.no-token {
	color: #FF0000;
}

.bottom-table-buttons {
    display: block;
    justify-content: space-between;
}

.tenant-update {
    background-color: #e86d6d !important;
    font-weight: bold;
    color: #fff;
}

.center-spinner {
    margin-top: 25%;
}