<div class="right_col" role="main">
    <md-progress-bar *ngIf="(loading$ | async)" mode="indeterminate" style="position: absolute; top: 0px;width: 100% !important;"> </md-progress-bar>
    <h2 class="thin">Archived Tasks</h2>
    <md-tab-group md-stretch-tabs class="demo-tab-group" dynamicHeight [(selectedIndex)]="activeTabIndex" style="margin-top: 2% !important">
        <md-tab>
            <ng-template id="pastVists" md-tab-label><div style="font-size: 22px">One-Off Requests Tasks</div></ng-template>
            <div class="row">
              <!--   <div class="col-md-12 col-sm-4 col-xs-12">
                    <h4 class="title" *ngIf="IsAdmin && !IsStaff">Unscheduled </h4>
                </div> -->
                <div class="col-md-12 col-sm-4 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <search-dropdown 
                              style="min-width: 150px" *ngIf="((null != sessionData.user) && (sessionData.user.role !== 'Tenant'))"
                              [Placeholder]="'Filter by Staff'"
                              [ShowingPeople]="false"
                              [items]="(AllBuildings$ | async)" 
                              (afterChange)="ScopeTasks($event)"
                              [(ngModel)]="item">
                            </search-dropdown>
                          <!--   <md-select placeholder="Filter by building" class="select2-container--default" style="min-width: 150px">
                                <md-option style="color: #000 !important" *ngFor="let building of (AllBuildings$ | async)" [value]="building.id" (click)="ScopeTasks(building)"> {{ building.name }} </md-option>
                            </md-select> -->
                            <a class="close-link" (click)="RefreshTasks()" style="font-size: 20px; float: right">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="max-height: 600px;overflow-y: scroll !important;">
                            <div *ngIf="(loading$ | async)">
                                <md-spinner class="center-spinner medium-spinner"></md-spinner>
                            </div>
                            <table class="highlight table-full-width table-responsive" id="users-table" style="margin-left: 0px !important;margin-right: 0px !important;">
                                <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length === 0)) || (null == (tasks$ | async))">
                                    <tr>
                                        <td style="text-align: center;font-size: 28px;">No Tasks!</td>
                                    </tr>
                                </thead>
                                <thead class="table-header" *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                                    <tr>
                                        <td (click)="sortTable()" style="cursor: pointer">Subject</td>
                                        <td>Building</td>
                                        <td>Status</td>
                                        <td>Type</td>
                                        <td>Last Updated</td>
                                        <td>Assigned To:</td>
                                    </tr>
                                </thead>
                                <tbody *ngIf="((null != (tasks$ | async)) && ((tasks$ | async).length > 0))">
                                    <tr style="cursor: pointer;background-color: #f0f0f0;" *ngFor="let task of tasks$ | async" [ngClass]="(((null != task.updatedRole) && (task.updatedRole === 'Tenant'))) ? 'tenant-update' : ''">
                                        <td (click)="expandTask(task)">
                                            {{ task.subject }}<br>
                                            <span style="font-size: 90%">By {{ task.authorName }}</span>
                                            <md-icon style="font-size: 10px; height: 10px; width: 10px" *ngIf="!(task.active)">visibility_off</md-icon>
                                        </td>
                                        <td (click)="expandTask(task)">{{ task.buildingName }}</td>
                                        <td (click)="expandTask(task)">{{ task.status }}</td>
                                        <td (click)="expandTask(task)">{{ task.category }}</td>
                                        <td (click)="expandTask(task)">
                                            {{ task.status}} on {{ (task.lastUpdated | date:'short') || "Time Error" }}<br>
                                            By: {{ task.updateAuthor }} <span style="font-size: 80%;">({{ task.updatedRole }})</span><br />
                                        </td>
                                        <td>
                                            <span *ngIf="(null != task.assignees)">
                                                <p *ngFor="let assignee of task.assignees">
                                                    {{ assignee.name }}<br />
                                                </p>
                                            </span>
                                            <span *ngIf="(null == task.assignees) || ((null !=task.assignees) && (task.assignees.length === 0))">
                                                <p *ngFor="let assignee of task.assignees">
                                                    {{ assignee.name }}<br />
                                                </p>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab>
            <ng-template id="pastVists" md-tab-label><div style="font-size: 22px">Recurring Tasks</div></ng-template>
            <div class="row">
              <!--   <div class="col-md-12 col-sm-4 col-xs-12">
                    <h4 class="title" *ngIf="IsAdmin && !IsStaff">Unscheduled </h4>
                </div> -->
                <div class="col-md-12 col-sm-4 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <search-dropdown 
                              style="min-width: 150px" *ngIf="((null != sessionData.user) && (sessionData.user.role !== 'Tenant'))"
                              [Placeholder]="'Filter by Staff'"
                              [ShowingPeople]="false"
                              [items]="(AllBuildings$ | async)" 
                              (afterChange)="ScopeTasks($event)"
                              [(ngModel)]="item">
                            </search-dropdown>
                            <!-- <md-select placeholder="Filter by building" class="select2-container--default" style="min-width: 150px">
                                <md-option style="color: #000 !important" *ngFor="let building of (AllBuildings$ | async)" [value]="building.id" (click)="ScopeTasks(building)"> {{ building.name }} </md-option>
                            </md-select> -->
                            <a class="close-link" (click)="RefreshTasks()" style="font-size: 20px; float: right">Refresh&nbsp;&nbsp;<i class="fa fa-refresh"></i></a>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="max-height: 600px;overflow-y: scroll !important;">
                            <div *ngIf="(loading$ | async)">
                                <md-spinner class="center-spinner medium-spinner"></md-spinner>
                            </div>
                            <table *ngIf="!(loading$ | async)" class="highlight table-full-width table-responsive" id="users-table" style="margin-left: 0px !important;margin-right: 0px !important;">
                                <thead class="table-header" *ngIf="((null != (recurringTasks$ | async)) && ((recurringTasks$ | async).length === 0)) || (null == (recurringTasks$ | async))">
                                    <tr>
                                        <td style="text-align: center;font-size: 28px;">No Tasks!</td>
                                    </tr>
                                </thead>
                                <thead class="table-header" *ngIf="((null != (recurringTasks$ | async)) && ((recurringTasks$ | async).length > 0))">
                                    <tr>
                                        <td (click)="sortTable()" style="cursor: pointer">Subject</td>
                                        <td>Building</td>
                                        <td>Status</td>
                                        <td>Last Updated</td>
                                        <td>Assigned To:</td>
                                    </tr>
                                </thead>
                                <tbody *ngIf="((null != (recurringTasks$ | async)) && ((recurringTasks$ | async).length > 0))">
                                    <tr style="cursor: pointer;background-color: #f0f0f0;" *ngFor="let task of recurringTasks$ | async" [ngClass]="(((null != task.updatedRole) && (task.updatedRole === 'Tenant')) && IsNotTenant) ? 'tenant-update' : ''">
                                        <td (click)="RecurringTask(task)">
                                            {{ task.subject }}
                                            <md-icon style="font-size: 10px; height: 10px; width: 10px" *ngIf="!(task.active)">visibility_off</md-icon>
                                        </td>
                                        <td (click)="RecurringTask(task)">{{ task.buildingName }}</td>
                                        <td (click)="RecurringTask(task)">{{ task.status }}</td>
                                        <td (click)="RecurringTask(task)">
                                            {{ task.status}} on {{ (task.lastUpdated | date:'short') || "Time Error" }}<br>
                                            By: {{ task.updateAuthor }} <span style="font-size: 80%;">({{ task.updatedRole }})</span><br />
                                        </td>
                                        <td>
                                            <span *ngIf="(null != task.assignees)">
                                                <p *ngFor="let assignee of task.assignees">
                                                    {{ assignee.name }}<br />
                                                </p>
                                            </span>
                                            <span *ngIf="(null == task.assignees) || ((null !=task.assignees) && (task.assignees.length === 0))">
                                                <p *ngFor="let assignee of task.assignees">
                                                    {{ assignee.name }}<br />
                                                </p>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tab-group>
</div>
